[2019-02-22 16:51] dabutvin commented on #95
@gianpaj good point, though I wouldn't spend too much time on `/harvest`

I would prioritize the other pages first like the homepage, about, browse, definitions, etc

[2019-02-22 18:35] storrisi commented on #469
We've found a good solution in ant-design table.
Since we are already using ant-design for some elements in the UI, using the built-in Table component looks worthwhile.

It has also some useful behaviors out of the box that meets perfectly our needs.
I'm currently working on switching from react-table to ant-design and i will provide a PR soon.

[2019-02-22 18:37] storrisi commented on #479
@dabutvin this is also related to our discussion about the `expanded=prs` params, which i've addressed in https://github.com/clearlydefined/service/issues/408

[2019-02-22 19:15] jeffmcaffer commented on #289
fine closing this. Note that my desire is to have ALL of the UI in one repo, not a separate repo for components and one for the app itself. If that is not possible or is hard then I'll live with it .

[2019-02-22 21:40] bduranc opened #485 "Curation metadata is not visible when viewing a component definition"
**Type:** Bug
**Description:** The "Curation" tab found on definitions pages do not appear to render any detail about the curation.

**Steps to Recreate**
1. Search up an already curated component in CD
2. Dig into that component's definition
3. Go to the bottom of the definition page to the following three tabs: "Current definition", "Curations", "Harvest data"
4. Click the "Curations" tab

**Exp

[2019-02-25 10:32] storrisi opened #486 "Fix mobile view of Homepage and Footer"
<img width="302" alt="schermata 2019-02-25 alle 11 30 59" src="https://user-images.githubusercontent.com/7654979/53331289-d9451300-38f0-11e9-8f9a-8841b884e529.png">

Related to #95

[2019-02-25 10:37] storrisi opened #487 "Fix mobile view of About Page"
<img width="306" alt="schermata 2019-02-25 alle 11 37 17" src="https://user-images.githubusercontent.com/7654979/53331659-b9fab580-38f1-11e9-92fa-1f3374dd7c35.png">
Related to #95

[2019-02-25 10:48] storrisi opened #488 "Fix mobile view of Full Details"
Related to #95

<img width="294" alt="schermata 2019-02-25 alle 11 43 18" src="https://user-images.githubusercontent.com/7654979/53332045-a865dd80-38f2-11e9-916b-7118b5638b69.png">
<img width="291" alt="schermata 2019-02-25 alle 11 43 36" src="https://user-images.githubusercontent.com/7654979/53332044-a865dd80-38f2-11e9-9dd5-a0920df8e000.png">

<img width="293" alt="schermata 2019-02-25 alle 11 43

[2019-02-25 10:53] storrisi commented on #169
@fossygirl any updates on this?

[2019-02-25 10:53] storrisi commented on #158
@fossygirl any updates on this?

[2019-02-25 14:57] jeffmcaffer commented on #169
Realistically only the license can be bulk edited on a component. Release date may be relevant if there is a whole family of components released on the same day.  Source location similarly, is only relevant for bulk edit in monorepo-like scenarios where multiple components all coming out of the same commit.

There are also bulk scenarios on the file list.

I do wonder if we could flip this around

[2019-02-25 14:59] storrisi commented on #169
Thanks for your feedback @jeffmcaffer , a user contribution would be very helpful here

[2019-02-25 15:18] storrisi commented on #478
I think that the best solution could be to have a '?' icon in the Facets section, and then have a tooltip or something like that that explains how glob works with some examples.

We can write down a sample text and post it here so we can decide together what works best.

Thoughts?

[2019-02-25 17:46] fossygirl commented on #158
@jeffmcaffer probably has thoughts here.

[2019-02-25 17:46] fossygirl commented on #478
Yes, I think that's a good solution. Let's move forward with that and see how it looks.

[2019-02-25 17:59] jeffmcaffer opened #494 "Browse: sort provider names"
The current list in the Providers drop down on the /browse page appears to be unsorted. Should be sorted alphabetically.

[2019-02-25 18:03] jeffmcaffer opened #495 "Browse: Sort by score should use combined effective score"
[changed direction described here]
The /browse page enables people to sort by licensed and described score. We are moving to a model where the pages show just one score, the combined effective score. That will simplify the user model. From the curator point of view that's fine as they should look for things with low score and curate. We'll need to do something else to guide component producers to

[2019-02-25 18:07] jeffmcaffer opened #496 "Browse: License list is too restrictive/short"
The list of available licenses to filter by is too short. At the very least we should expose all those available from choosealicense.com. That way we are not making a judgement call other than following in their footsteps. That might be too long a list (~36?). Not sure.

We could instead of a dropdown use the license picker here and let people pick from the full list. would take more real estate b

[2019-02-25 18:09] jeffmcaffer opened #497 "Browse: Align Revert, Collapse and Contribute buttons"
On the /browse page the Revert, Collapse and Contribute buttons at the top right should be vertically aligned with the filter box. As it is I suspect it is being vertically centered in the div and the div became two lines high with the addition of the filter box.

See the /definitions page for proper alignment

[2019-02-25 18:12] jeffmcaffer opened #498 "Browse: Make list height relative to height of window"
The current /browse page list looks too short on larger resolution monitors (and possibly too long on lower resolution setups). Rather than trying make one size for all, can we make the list adjust its size based on the height of the window? That would enable people using portrait monitors to get a massive list (which actually could be quite useful).

The current size would be a great minimum heig

[2019-02-25 18:15] jeffmcaffer opened #499 "Browse: button styling should be updated"
The buttons/dropdowns on the /browse (and other) pages have outlines

![image](https://user-images.githubusercontent.com/10070956/53358740-fde7bd80-38e5-11e9-9f66-7172c32ffa00.png)

whereas it would be much better for them to look like what you see on GitHub itself

![image](https://user-images.githubusercontent.com/10070956/53358828-32f41000-38e6-11e9-921d-f2fc9ca45b26.png)

apply this same chang

[2019-02-25 18:24] jeffmcaffer opened #500 "Browse: "Raise" level of "Provider" and "Curate" buttons"
The Provider and Curate buttons on the /browse page are great. So great that perhaps they should be "elevated" to be outside the list component, perhaps at the same (conceptual) level as the name filter.

From a user point of view then they can discover at a coarse grain (name, provider, viewpoint) and dive in with finer filters/sorts.

* also consider showing the current value in the button

[2019-02-25 18:28] jeffmcaffer opened #501 "Browse: Curate choices should be Effective and Tool"
As with the sort choices discussed in #495, the Curate choices should be Effective and Tool.

We will have to come up with other ways to talk about the domain-specific scores (e.g., described and licensed and secure, ...)

[2019-02-25 18:31] jeffmcaffer opened #502 "Move current home page content to About"
To allow the browse page be the home page for clearlydefined.io we need to move the current home page content to About and some how merge with the current content there

[2019-02-25 18:53] royaljust opened #503 "Link between binary package components and source repositories"
Often the best source information for a given binary package is the corresponding source tree used to produce that package.  Having a simple way to curate both components simultaneously would be helpful.

[2019-02-25 19:12] jeffmcaffer opened #504 "Update look of contribute dialog"
Looking at the screenshot for the current contribute dialog (below), I suggest some changes...

-  make the dialog narrower
-  move "Type" over to the left and allow the choice to be beside rather than below the "Type" label
- consider putting some data entry parts side by side rather than using a single column

<img width="1224" alt="clearlydefined" src="https://user-images.githubusercontent.com/

[2019-02-25 19:15] jeffmcaffer commented on #503
When you are looking at a binary component in the definitions list, there `</>` button that will add the corresponding source component to the definitions page. See

![image](https://user-images.githubusercontent.com/10070956/53362193-75b9e600-38ee-11e9-9137-b8345166f8b7.png)

From there users can modify both and submit one curation.

Does that address your scenario?

[2019-02-25 19:30] fossygirl commented on #247
Reopening with @dabutvin

[2019-02-25 21:51] jeffmcaffer opened #505 "hide the blue border"
In the /definitions list (and elsewhere) there are cases where you click on an entry / element and its border is changed to a blue glow. See the screenshot below. I had just clicked on one of the entries in the list and the whole list starts to glow. This is distracting, exposes the component hierarchy (why not glow more? or less? of the DOM?), and does not guide the user.

![image](https://user-i

[2019-02-25 21:54] jeffmcaffer opened #506 "Stick footer to the bottom of the window"
Our current footer floats up and down with the content of the page. I'm pretty sure it used to stick to the bottom (see #25). In any event, it does not now and it would be great if it did.

[2019-02-25 22:02] dabutvin commented on #505
this is the focus outline and can be removed with `outline: none` on the grid control.
We should make sure this doesn't break navigating by keyboard when it is removed

[2019-02-26 01:22] royaljust commented on #503
Yes, it does.  Thanks for the quick reply Jeff!

[2019-02-26 01:22] #503 closed

[2019-02-26 09:03] gianpaj commented on #478
Here's what I've written to explain globs:
<img width="707" alt="clearlydefined" src="https://user-images.githubusercontent.com/899175/53400124-de1fca80-39b5-11e9-998d-5b3100d8bf51.png">

Any feedback on the text, look and the length?

[2019-02-26 10:11] storrisi commented on #500
Is the search by Provider something similar to #158 ?

[2019-02-26 10:24] storrisi commented on #504
We'll address this into #493 , since it's already addressing some changes on the Curation popup

[2019-02-26 16:27] #494 closed

[2019-02-26 16:29] #505 closed

[2019-02-26 16:59] royaljust opened #511 "File Filter Improvement: Licenses"
It is helpful for curators to be able to filter by discovered licenses.  The current free-form text box produces some noise because of similarity of some license SPDX identifiers (e.g. LGPL/GPL).

While helpful to be able to filter for all "GPL" and/or "LGPL" the current filtering makes it difficult to quickly search for a particular discovered license.  Perhaps only search for things beginning wi

[2019-02-26 17:05] #482 closed

[2019-02-26 17:14] fossygirl commented on #478
I think we need even simpler language than this. The examples are good, but the introduction text should be simpler. Something like "Use this to construct what files you want included in the facet(s) below. You can include or exclude files doing the following:" and then put in the examples.

We should post this in the #curation channels in Discord as well and see if the curators have input here.

[2019-02-26 18:25] AlexWebYourmind commented on #479
@storrisi @fossygirl @dabutvin can we close this?

[2019-02-26 18:32] storrisi commented on #479
Maybe yes, the label already exists on the UI, we need only the service to return the data.

[2019-02-26 18:33] fossygirl commented on #479
Nope, we can't close it until I can see these labels on the components, which I don't yet.

[2019-02-26 18:42] AlexWebYourmind commented on #479
@storrisi can you look into this?

[2019-02-26 18:48] storrisi commented on #479
Actually the implementation is already there from a UI point of view, see #290

As we discussed in the weekly meeting, the curation details should be returned from the service to complete this.
I think @dabutvin is already looking at this.
There is an opened issue for this: https://github.com/clearlydefined/service/issues/408

[2019-02-26 19:13] dabutvin commented on #479
yep. I've been looking into this, there is some updates I need to make to the database schema to enable these queries.
https://github.com/clearlydefined/service/issues/411

[2019-02-26 23:07] fossygirl opened #512 "Adding a lot of versions to a definition curation hides the OK/Cancel buttons"
If I add a bunch of versions to a definition I'm curating the OK/Cancel options get hidden. Clicking away from the screen doesn't save my work.
![screen shot 2019-02-26 at 3 05 34 pm 2](https://user-images.githubusercontent.com/17101092/53453138-3798f100-39d8-11e9-91cb-0c6a2e3d6e00.png)

[2019-02-26 23:17] fossygirl opened #513 "Consider removing dropdown options that are "not implemented""
I think it gives the user a poor impression of the software to see options they can't have because they're "not implemented." Let's remove these from the drop down or actually make them real. Let's not tell our users they just can't have something.
![screen shot 2019-02-26 at 3 15 41 pm 2](https://user-images.githubusercontent.com/17101092/53453646-96129f00-39d9-11e9-8bb3-5fdba46550e5.png)

[2019-02-26 23:36] fossygirl opened #514 "Autocomplete on definition search sometimes doesn't"
Every so often if I remove a character from a definition i'm searching for or just type in the definition I'll get a "no matches found" even though I'm sure I've seen that component before. This happens intermittently.

[2019-02-27 09:54] storrisi commented on #504
This one could be closed since has been addressed in #493 .
Unfortunately i forgot to mention this issue into the PR so the automation didn't worked.

[2019-02-27 10:31] AlexWebYourmind commented on #513
@fossygirl Yeah. This was actually agreed and implemented as part of https://github.com/clearlydefined/website/issues/271 (not the Gist one).

If we believe that the iniital approach served its purpose and we can remove not implemented options, we can proceed with that.

[2019-02-27 12:07] gianpaj commented on #512
Hi @fossygirl ,

I believe the issue is the fact that the modal was closing when there are versions added to the input field.

Would this behaviour be better (see GIF below)?:
- When clicking outside the modal (dark backdrop) don't close the Modal if there are any changes made (versions added in the input field)
- Close the modal if the input field is empty

![versions modal](https://user-images.g

[2019-02-27 14:55] storrisi commented on #462
I've opened https://github.com/clearlydefined/service/pull/410 that address the service implementation.

I'm gonna open a WIP PR on the website as well to remove the unused methods and use the returned data from the service instead.

[2019-02-27 15:09] fossygirl commented on #512
Sure, this is a fine change.

[2019-02-27 16:40] dabutvin commented on #504
Looks like the changes we took here also affected the license expressions modal. Can you take a look at that as part of this issue?

[2019-02-27 17:55] storrisi commented on #504
@dabutvin sure! Thanks for catching it

[2019-02-27 19:20] #476 closed

[2019-02-27 21:06] #469 closed

[2019-02-27 21:12] storrisi commented on #343
This one is related to #489 , probably the automation was wrong. It could be closed.

[2019-02-28 08:29] storrisi commented on #169
@fossygirl @jeffmcaffer we've made a quick implementation on https://github.com/clearlydefined/website/pull/508 , which could be tested on https://deploy-preview-508--clearlydefined.netlify.com/

Would be great to get some feedback on the UI. (FWI: The button or dropdowns don't do anything)
This is to know if we're going to for this is or the "copy-paint" UI

[2019-02-28 09:55] pombredanne opened #522 "Remove the "UNLICENSED" wording from the UI"
Using "UNLICENSED" in the UI is rather confusing as the "UNLICENSE" is a public-domain-like license. I reckon NPM does that, but that's a poor choice of words as an npm license value of `UNLICENSED` and `UNLICENSE` would both be valid and mean completely different thing..

I suggest using "not licensed" or "no license stated" or anything else.

FWIW, "Unattributed" also sounds a tad weird: "no cop

[2019-02-28 16:38] storrisi commented on #154
@dabutvin can you confirm that the work done on #515 will meet this requirement?

[2019-02-28 16:41] storrisi commented on #172
We should check if what has been done in #515 will meet the requirement of this issue, or other work is required.

[2019-02-28 17:42] fossygirl opened #526 "Make OK/Cancel coloring, placement, and wording consistent across the site"
In some places we use the language "dismiss" in other places we use "cancel" in some places we use "okay." Let's make the language on the buttons consistent.

We also need consistency amongst the coloring and placement of the buttons. Sometimes Cancel is on the right, sometimes on the left, and sometimes it's red, sometimes it's not, etc.

Please make all this consistent across every UI on the sit

[2019-02-28 17:50] dabutvin commented on #172
I think this is one step further.
While we can see the information about past curations now, this is asking to be able to load an older version of a component.

We might have to start storing definition history instead of always overwriting them to pull this off

[2019-02-28 17:51] dabutvin commented on #154
The new UI is just showing title, PR number, and author.

This is calling for us to surface the description of the PR in the UI as well.
We have the data, we are just not rendering it

[2019-02-28 18:01] #504 closed

[2019-02-28 18:06] #512 closed

[2019-02-28 18:07] #514 closed

[2019-02-28 18:10] #506 closed

[2019-02-28 18:46] dabutvin opened #528 "Profile and improve performance of browse page"
The network time can be less than 200ms, but the UI can still take a whole second or two to load.
I suspect it is taking a lot of time processing the results on the client.

We should track down and improve the rendering, especially of just landing on /browse

[2019-02-28 19:37] #212 closed

[2019-02-28 23:17] #528 closed

[2019-02-28 23:48] jeffmcaffer commented on #513
The Gist entry (and associated code) should be removed. It is actually implemented but to write a Gist we need a token that has write permissions and we don't want to ask the user for those perms.

The others should IMO stay as they signal direction/intention.

[2019-02-28 23:49] jeffmcaffer commented on #511
Makes sense and is likely a trivial change.

[2019-03-01 15:15] gianpaj opened #531 "Fix buttons on /curation and the 'Collapse All' in /definitions"
We noticed that the buttons at the top on a /curation (e.g [link](https://dev.clearlydefined.io/curations/185)) "Done" and "Collapse All" are always disabled and don't do anything.

- Should we remove the "Done" button? I believe it's not possible to make any changes in this page currently.
- Should we fix the "Collapse All" button and make sure it also expands all the components when clicked back

[2019-03-01 16:09] jeffmcaffer commented on #531
Good catch. Seems like we can remove the Done button as you suggest. Fixing Collapse would be great.

[2019-03-01 17:57] fossygirl opened #532 "Logout and Docs changed position"
"Logout" used to be on the far right and has now swapped places with "Docs."

![screen shot 2019-03-01 at 9 54 59 am 2](https://user-images.githubusercontent.com/17101092/53656499-49f97180-3c08-11e9-923f-8b7b5af4e211.png)

I think Logout to should back to be the farthest rightmost thing so people are less likely to accidentally click on it.

[2019-03-02 03:18] jeffmcaffer opened #533 "tweak new File List view"
The new Ant Design based file list view is a good improvement. A few styling suggestions

* remove the line between files
* make each row shorter (smaller height)
* change the amount of indentation on the tree part (need to deal with long paths in Java)
* Expand the first level by default

[2019-03-02 03:21] jeffmcaffer opened #534 "need link to "provider" in full details page"
When looking at a full details page like  https://clearlydefined.io/definitions/npm/npmjs/-/gulp-remote-src-vscode/0.5.1 there is no way to get to the actual component on its native site (e.g., npmjs.com).

[2019-03-02 13:54] storrisi commented on #533
Some of these fixes are already been addressed in #525

This was part of a discussion with @dabutvin
It makes sense when the list of files has only one main folder, otherwise the tree is already naturally open to the root, which show all the nested folders and files that are in the root directory.

[2019-03-03 04:12] jeffmcaffer opened #535 "Full details page fails to load if curations or suggestions fail"
We had a case where /curation and /suggestions APIs were failing with 500s. That seemed to cause the whole Full details page to fail to load. Rather, the page should load and the curations or suggestions should fill in lazily (or not)

[2019-03-04 17:06] gianpaj commented on #158
For the future reference, if we search "Query Parser Syntax github" on Google. There are plenty of JS repo we could use to parse the text field and get for example this parsed `provider:npm jquery license:none`

For the first implementation we agreed on only providing a search by provider, therefore the above "Query Parser Syntax" might be overkill for a single search parameter

[2019-03-04 17:18] #486 closed

[2019-03-04 19:23] #497 closed

[2019-03-05 04:20] jeffmcaffer opened #540 "Errors and warnings in console for /definitions"
There are a few errors and warnings in the /definitions page on normal load. We should strive for there to be no errors or warnings (no output at all really). Here is the dump I see. 2 warnings and an error
[code]

[2019-03-05 10:21] gianpaj commented on #502
Hi @jeffmcaffer,

How should we merge the content of both pages?

<img width="1074" alt="about_png_and_homepage_png_and__curation" src="https://user-images.githubusercontent.com/899175/53798425-e42b2380-3f40-11e9-9c48-a322571b56f4.png">

Maybe we could replace the text-heavy content (until Get Involved) from the About page with the sections of the current Homepage?
And, move that from the About pa

[2019-03-05 10:26] storrisi commented on #533
Changes from #525  are in place.
If you are happy with those change, then this issue could be closed.

[2019-03-05 15:10] storrisi opened #542 "Browse Page: revert function doesn't work as expected"
While applying some changes to the definitions in the Browse page, clicking on the Revert Button of a single Definition, or using the Revert Changes at the top of the list, actually doesn't revert anything.

[2019-03-05 18:04] #487 closed

[2019-03-05 21:52] jeffmcaffer commented on #533
Looking better. thanks!  Items 2 and 3 in the original list still need to be addresses AFAICT.

![image](https://user-images.githubusercontent.com/10070956/53839261-ee065400-3f4b-11e9-8436-0b1d94de3661.png)

Note in the image I hacked the CSS directly to
* set the height of each line considerably smaller (essentially 0 padding). could be a bit higher but not much.
* lower the height of the facet l

[2019-03-05 22:06] jeffmcaffer commented on #502
I will take care of this. Updating the title...

[2019-03-06 11:16] storrisi commented on #540
This has been addressed in #539 so it could be closed

[2019-03-06 11:19] storrisi commented on #526
This has been addressed in #537 and could be closed

[2019-03-06 11:19] storrisi commented on #522
This has been addressed in #536 and could be closed

[2019-03-06 11:20] storrisi commented on #499
Addressed in #545

[2019-03-06 11:21] storrisi commented on #479
This has been implemented in #515 and could be closed

[2019-03-06 11:58] gianpaj commented on #478
Based on the feedback from here and `#curation` channel on Discord. I've amended the text to:

One thing remaining is:
- How do we explain what a **facet** is?

[2019-03-06 16:11] jeffmcaffer commented on #540
This issue covers all the things that are NOT covered by #539. Please take a look at the errors/warnings independent of that PR

[2019-03-06 16:44] storrisi commented on #540
I see, thanks. I will fix those.

[2019-03-06 17:23] fossygirl commented on #478
https://github.com/clearlydefined/clearlydefined/blob/6fb49f4a9e373e4dec84e16a30e48dbd8f00726b/docs/clearly.md

A facet of a component is a subset of the files related to the component, grouped by type

[2019-03-06 19:26] fossygirl opened #547 "Tools list cuts off"
When we have a bunch of tools run on a component the list gets cut off. We should either wrap the text or enable hover for the full details of the text.

![screen shot 2019-03-06 at 11 24 50 am 2](https://user-images.githubusercontent.com/17101092/53907744-aabaec80-4002-11e9-8ca0-e0bd5cf263fa.png)

[2019-03-06 19:51] dabutvin opened #548 "[Browse] update name search box to use typeahead"
see https://github.com/clearlydefined/service/issues/429 for some context

We want to put in exact matches to the search box for names and typeahead should be able to help us with this.

this is rough idea of what I'm thinking

1. Call https://api.clearlydefined.io/definitions/?pattern=jqu like we do from /definitions
2. parse each coordinate response into EntityCoordinates
3. make a distinct list

[2019-03-07 04:37] jeffmcaffer opened #549 "suggestions not showing up in UI"
Looking at the full details for a random definition I am not seeing the "suggestions" blue "i" showing up. Using developer tools I also do not see the suggestions api being called. Did this get broken somewhere? is there something else the user needs to be doing to make this work?

[2019-03-07 08:11] storrisi commented on #549
I'm checking the behavior but looks like that the endpoint is called correctly.

![schermata 2019-03-07 alle 09 08 07](https://user-images.githubusercontent.com/7654979/53941510-8d485a00-40b8-11e9-9cc9-f2e46aba09b5.png)

Unfortunately i'm not able to find a definition that has suggestions.
Those would show up only for fields that are missing, but the endpoint didn't return any suggested value.
Cou

[2019-03-07 08:16] storrisi commented on #549
Looks like that in the dev environment every call to the suggestions API fails with a 404 error, see https://dev-api.clearlydefined.io/suggestions/nuget/nuget/-/Handlebars.js/3.0.0

Maybe a change has been introduced on the service that broke something?

[2019-03-07 10:18] #343 closed

[2019-03-07 11:04] storrisi commented on #495
To do that, we need to address some changes on the service, in order to do the right queries on mongoDb.

I've addressed the required work on a specific issue: https://github.com/clearlydefined/service/issues/436

[2019-03-07 11:10] storrisi commented on #500
Following the discussion on weekly meeting, we want just to make clear to the user which kind of search he's currently doing on the Browse Page.

[2019-03-07 11:13] storrisi commented on #496
Using the LicensePicker is a great idea, it allows the user to pick any kind of license he wants.

As for #500 we could also display the current selected license.

[2019-03-07 14:44] storrisi commented on #495
Going through the implementation, looks like that filtering the list directly in the UI will not produce the expected behavior.
Since the result of the Browse page is a paginated list, we should be able only to filter the received data, and not the entire collection that the server has.

Probably we should find a more consistent way to do that on the service.

[2019-03-07 15:23] storrisi commented on #548
I see. I've tested the behavior on the UI and i didn't notice before that the browse list returns some data only while the name is matching the name of a definition.
Your idea seems to solve the problem.
I will implement this.

[2019-03-07 16:31] jeffmcaffer commented on #495
On the /browse page, all sorting and filtering must be done server-side as we are talking about the global list of definitions. So here we should be adding a query parameter and the right query construct in the service.

[2019-03-07 16:38] jeffmcaffer commented on #495
Reviewing this issue I think something has changed in the meantime. That is, the site now (soon) only shows one score, the effective score combined across all the dimensions (described and licensed). I'm going to update the title and description to better capture the current state and direction.

[2019-03-07 16:42] #532 closed

[2019-03-07 16:45] storrisi commented on #495
Thanks @jeffmcaffer .
Since we are going to filter for a value that actually doesn't exists on a definition, but it's computed on the client, should we think on returning that combined value from the service, something like we've done for the urls of a definition?

[2019-03-07 16:46] #513 closed

[2019-03-07 17:25] storrisi commented on #501
@jeffmcaffer as per your comment and changes on #495 , should this one change as well somehow?

[2019-03-07 19:05] gianpaj opened #556 "Browse: do not show the Delete and Source buttons in the component list"
As mentioned in the `#implementation` channel in Discord these buttons do not make sense for this page

[2019-03-07 20:28] dabutvin commented on #549
I'm seeing it work in prod but not dev

![image](https://user-images.githubusercontent.com/5168796/53986950-5d0eb480-40d4-11e9-9dbc-df81947b9b74.png)

Investigating

[2019-03-07 20:46] dabutvin opened #557 "Add NOASSERTION back to the license picker"
Humans should be able to choose NONE and NOASSERTION

[2019-03-07 21:07] jeffmcaffer commented on #549
@dabutvin  has fixed the issue in Dev so in the end this is just user error on my part.

As a side note, it might make sense for us to always show the suggestions `i`. Otherwise it is sometimes there and sometimes not and users don't really have a sense of why. If there are no suggestions then we can simply say that there are none. Not sure. Need some users to comment.

[2019-03-07 21:07] #549 closed

[2019-03-07 21:31] #500 closed

[2019-03-08 06:10] #502 closed

[2019-03-08 06:18] #548 closed

[2019-03-08 06:24] #542 closed

[2019-03-08 09:29] #499 closed

[2019-03-08 09:54] storrisi commented on #495
The answer to my last question has been addressed in the implementation of https://github.com/clearlydefined/service/pull/439

Given that, scores coming from the server will be used instead of computing those in the UI.

[2019-03-08 15:42] AlexWebYourmind commented on #557
@dabutvin so we are happy to partially revert the change that we made as part of #410?

[2019-03-08 15:55] dabutvin commented on #557
Yes exactly.

[2019-03-08 17:01] #498 closed

[2019-03-08 17:08] fossygirl opened #687 "Give user feedback when things are queued for harvesting"
Right now we don't have any messaging for users when they POST to the API something that we don't have and we queue it for harvesting. We should provide a message or some sort of feedback that "we don't have this now, but it's been queued, check back later!"

[2019-03-08 17:25] #533 closed

[2019-03-08 17:29] #495 closed

[2019-03-08 18:16] fossygirl opened #562 "Need validation on facet user entries"
I think it's possible right now to enter anything into a facet glob expression, we need to do validation on the users' entries there so they can't enter bogus stuff.

[2019-03-08 18:58] fossygirl commented on #478
@dabutvin and I talked today and I think we want to put in these changes. We additionally want:

1. To remove the term glob expression entirely from the UI
2. Add selectors on the files and folders and give users feedback to let them gesture those files or folders into facets more easily

[2019-03-08 21:22] #496 closed

[2019-03-08 21:26] #462 closed

[2019-03-09 04:01] fossygirl commented on #479
Closing, this is displaying now! 🎊

[2019-03-09 04:01] #479 closed

[2019-03-09 04:08] fossygirl commented on #526
I've verified this is consistent as best I can. If we find any inconsistencies we can reopen.

[2019-03-09 04:08] #526 closed

[2019-03-09 04:08] fossygirl commented on #522
I have verified this is fixed in the UI. @pombredanne please reopen if you find that's not the case.

[2019-03-09 04:08] #522 closed

[2019-03-09 04:11] fossygirl commented on #556
I believe this is all implemented and rolled out, so I am closing. Feel free to reopen if you find something different.

[2019-03-09 04:11] #556 closed

[2019-03-09 04:16] fossygirl opened #572 "Browse: What selection you've made is not obvious"
You may not be able to tell it from the screenshot, but I have currently filtered on Provider="npmjs."

That is not obvious after the filter is applied. The background on the Provider dropdown lit up and the list is only displaying npms. But I could easily see a user forgetting they've applied a filter on this page and not understanding how to un-apply it.

![Screen Shot 2019-03-08 at 8 13 24 PM](

[2019-03-09 04:16] fossygirl opened #573 "Browse: Revert changes button not working"
Applying a filter of Provider="npmjs" and then clicking the Revert changes button does nothing.

[2019-03-09 13:16] storrisi commented on #573
The Revert button is supposed to Revert any kind of change over the definitions, not to clean up the search.
For that behavior we should implement a different kind of button or allow the Provider button to a have a "reset" option.

[2019-03-11 09:56] storrisi commented on #501
This has been addressed in #564  and can be closed

[2019-03-11 13:25] storrisi commented on #485
This has been fixed in #515 and can be closed

[2019-03-11 15:02] storrisi commented on #540
@jeffmcaffer for the first error:
`react-ga.js:204 [react-ga] gaTrackingID is required in initialize()`

looks like the application is expecting an external param configured in the environment.
`ReactGA.initialize(process.env['REACT_APP_GA_TRACKINGID'])`

This doesn't happen in production, so i guess that we could add a check that doesn't initialize GA for local and dev environment. What do you th

[2019-03-11 15:59] storrisi commented on #540
The second error is tracked [here](https://github.com/ericgio/react-bootstrap-typeahead/issues/381) and looks like to be a Typeahead problem.
I'm looking forward if we are able to upgrade the version.

[2019-03-11 16:50] storrisi commented on #540
Upgrading the version of Typeahead introduces an error on `GitHubSelector`, since the method `_updateText()` is not available anymore.

[2019-03-11 17:31] gianpaj commented on #562
We could possibly use this package or similar ones:
https://github.com/micromatch/is-glob

[2019-03-12 08:35] storrisi opened #578 "Remove computeScore() method from the UI"
Since now the scores value are returned from the service, we can remove this method and use everywhere the service data.

[2019-03-12 08:41] storrisi opened #579 "Use Spdx Picker as a filter in Workspace page"
Since in the Browse page has been implemented the Spdx License Picker as a filter for the list of definitions, we can now use the same component in each page where is needed to filter a list for the same value.

Perhaps we should implement this in the standard FilterBar used for both System Managed List and User Managed List.

[2019-03-12 08:47] storrisi commented on #573
Actually the Provider button has already a reset option, you could select again the same value and the selection got cleaned.
Probably a button that cleans the entire search (provider, name) would be better.
What do you think @fossygirl ?

[2019-03-12 08:52] storrisi commented on #562
We could track this thing while working on a more general "GlobPicker" as discussed with @jeffmcaffer and @dabutvin on Discord, and mentioned in #478 .

As @jeffmcaffer said, who knows how a glob picker works could type in those correctly. Everyone else needs some kind of help, and we should be able to guide in some way the user on applying facets on folders, files, or file extensions.

I think th

[2019-03-12 09:02] storrisi commented on #478
The tricky part here is to build a glob expression starting from a path.

The user should be able to add or remove facets on each file or folder in the file list.
Since the curations wants facets expressed like glob expressions, we need to build those starting from the user activity.
If a user has applied a facet to an entire folder, is quite easily to build the related expression to that.
The pro

[2019-03-12 15:43] storrisi commented on #562
@gianpaj and i have discussed a little bit around this and #478 topic.

As suggested by @jeffmcaffer , we should proceed incrementally, and we think that starting from this implementation, rather than implement the FileList facets editing behavior, could be beneficial for the User.

Implementing a smart GlobPicker, something guided like the LicensePicker, could help the user to create expressions

[2019-03-12 16:05] storrisi commented on #535
I've tried locally forcing the routes /curation and /suggestions to return a 500 error, but i'm unable to reproduce the error.
Seems that everything is working fine right now.

Actually those calls shouldn't affect the load of the page.

[2019-03-12 16:10] fossygirl commented on #573
@storrisi Sure, that would be fine. It just needs to be easy for the user to understand how to "undo" whatever they just did.

[2019-03-12 16:52] dabutvin opened #580 "race condition on full details page"
sometimes when you open a new component the files list does not load.
Re-opening the component shows the files

![2019-03-12 09 51 37](https://user-images.githubusercontent.com/5168796/54219313-85b7f500-44ac-11e9-89df-04c45dea802a.gif)

[2019-03-13 06:45] jeffmcaffer opened #584 "curation component list too short"
Check out https://clearlydefined.io/curations/1136. Notice that the list of definitions does not grow. In fact, it should be like the others and expand to fill the available space.

On the /definitions page we saw this problem and it was because there was a <div> or some such that did NOT have the `flex-grow` style (or related). Need to ensure that they all have that style or the resize does not w

[2019-03-13 06:53] jeffmcaffer opened #585 "harvested data for curation not showing"
If you hit https://clearlydefined.io/curations/1136 and look at the Harvested data section you will see it is empty. Looking at the f12 network trace you can see that in loading the full details view the UI is accessing https://api.clearlydefined.io/harvest/npm/npmjs/-/timers-browserify/2.0.2/pr/1136?form=raw. Note the `/pr/1136` part of the URL. That should not be in there. If you remove those se

[2019-03-13 15:20] gianpaj commented on #547
I've noticed here that the values in `tools` array gets trimmed if they start with `curation`:

https://github.com/clearlydefined/website/blob/dba0a8175cfc198927cd9ea1841691d67e76f8b5/src/components/Navigation/Sections/DescribedSection.js#L34-L36

In which circumstance could tools start with `curation`?
Would you know @dabutvin ?

[2019-03-13 16:04] fossygirl commented on #562
@dabutvin Can you weigh in on this? It all seems fine to me.

[2019-03-13 16:05] storrisi commented on #478
As mentioned in #562 , our proposal is to start building the GlobPicker first.
Then we can see from there if a smarter UX could help the user to build glob expressions in a more easy way.
Maybe from there some changes will occur to this specific requirement, or even consider this as superseded.

[2019-03-13 16:09] storrisi commented on #572
We can show the value of the selected provider in the Button, as well as show a 'x' icon to clean the selection, as part of #573

[2019-03-13 16:15] storrisi commented on #511
I think that the proposal of a Boolean search, rather than a free text, could be helpful in this case.
We could also allow the user to select multiple values in order to select different kind of discovered copyrights.
Perhaps this kind of filter could save time to the user that is searching for some specific values.
The same could happen for the License filter as well.

@jeffmcaffer what do you th

[2019-03-13 16:18] storrisi commented on #352
@jeffmcaffer since we are thinking about a new GlobPicker that could help the users to better apply facets on files, maybe this requirement could be covered by that implementation?

[2019-03-13 16:22] storrisi commented on #247
@fossygirl may i ask you an update on this?

Starting from your last comment:

There are some changes about this kind of identification, and the resulting workflow?

[2019-03-13 16:23] fossygirl commented on #247
@storrisi Yes, we'd like users to be able to validate a license.

[2019-03-13 16:34] storrisi commented on #247
Thanks @fossygirl ,
so i guess that a "validation" value should come from the service (if available) for each browsed definition.
If a definition is not already validated, someone should be able to hit a "validate" button that confirms the validation, and send back the action to the service again.

Can you confirm this workflow?

Just a few questions:
- you mentioned that

Is this still valid? If

[2019-03-13 17:24] gianpaj commented on #547
Got a reponse from Dan via Discord:

look at https://clearlydefined.io/definitions/nuget/nuget/-/Newtonsoft.Json/10.0.2

[2019-03-13 17:35] #584 closed

[2019-03-13 20:21] #580 closed

[2019-03-13 20:50] #557 closed

[2019-03-13 22:43] dabutvin commented on #562
I'm afraid a wizard like experience here is going to cause more problems than it solves.

I think we should leave the glob expression section of the UI as-is so we can surface the way the data is persisted and enable the advanced user scenario to quickly write globs as they see fit.

To focus on some simple scenarios for incremental improvements, I think we need to look at the filetree and let the

[2019-03-14 08:54] #485 closed

[2019-03-14 08:54] #501 closed

[2019-03-14 09:48] storrisi commented on #562
Thanks @dabutvin i got your point.

If all of you agree with this solution, i'm happy to implement it.
Can you confirm that we should proceed following this approach?

For what is related to this specific topic, then i suggest to coming back to the @gianpaj solution, using https://github.com/micromatch/is-glob to validate the inserted glob-expression.

Thoughts?

[2019-03-14 17:38] fossygirl opened #592 "Consider having the Browse page change sort on refresh"
Right now visitors to the website see the same list every time with Crates first (because the list is alphabetical). Since this page is meant to spur interest and give folks with no other information a place to get started, it might be nice to have the list sort/populate differently on refresh. This was each time a person visits they'll see something new and might be enticed to help out on seeing

[2019-03-14 19:16] fossygirl opened #593 "Add sort after Browse page "Fix something" selection"
Once a user has made a "Fix something" selection from the dropdown we should then sort to display lowest-scored components first.

[2019-03-14 19:25] fossygirl opened #594 "Hover on package logo should say its name"
When a user hovers on a package logo we should display the name of that type of package. People aren't already going to know what "S" stands for or what "M" means.

[2019-03-14 22:16] fossygirl opened #595 "Add count element to Workspace"
When I got to a Workspace URL or drag and drop a file of a bunch of components that creates a list, I'd like to have a count of the number of total components in the list.

[2019-03-15 14:17] storrisi commented on #593
We can do it forcing the call to the API passing the `effectiveScore` param with `sort=asc` together with the `curate` filter.

@dabutvin could you confirm this workflow?

This should automatically activate the Sort By Lowest Score option, otherwise doesn't know what kind of sorting is enabled.

@fossygirl  do you agree?

[2019-03-15 14:24] storrisi commented on #592
We can do it from the website only applying different random filters or sorting on each reload and pass those values to the API call.

Otherwise, this should be done from the service and only when any other filter is already applied.

@dabutvin do you have any thoughts on this one?

[2019-03-15 15:04] storrisi commented on #562
@dabutvin @fossygirl @jeffmcaffer do you have any updates on this?

There are different approaches and proposal that we can deal with.
I just want to be sure that we are all on the same page.

[2019-03-15 15:05] storrisi commented on #247
@fossygirl @dabutvin do you have any updates about my questions above? thanks!

[2019-03-15 15:09] storrisi commented on #352
There are some discussions around the facets editing behavior.
Since a decision hasn't yet taken, we should define if this issue is covered by #478 (related to the tooltip that explains how Facets work) or not.

[2019-03-15 15:22] storrisi commented on #478
@fossygirl we can start with the implementation of the tooltip and remove the term glob expression entirely from the UI. Do you agree?

As discussed in #562 we should take a decision about implement the FileList facets editing capability or a GlobPicker at first.

[2019-03-15 15:25] storrisi commented on #540
I had some issues with Typeahead.

First of all, upgrading it, to remove the error mentioned here, will cause an error while using the _updateText() method, and it looks like there isn't any other available method that replaces it.

Then, while working on another issue i've tried to clean up the value of the field when clicking on a button.
Using the method already implemented that clear the value

[2019-03-15 15:27] storrisi commented on #535
I'm still not able to reproduce the problem.
Maybe there was also a problem while loading the definition as well?

[2019-03-15 15:42] storrisi commented on #154
I'm thinking where we can show these details.

Since the Curations tab is showing only the latest curation, we should define a new place where to show them.

In https://github.com/clearlydefined/website/pull/320 we defined that the Curations section should contain an accordion showing the details of all the curations.

See the example here
![ott-04-2018 17-38-38](https://user-images.githubusercont

[2019-03-15 17:49] fossygirl commented on #593
@storrisi Yes, agreed.

[2019-03-18 11:12] storrisi commented on #592
@dabutvin do you have any feedback on this one?

[2019-03-18 15:04] jeffmcaffer commented on #547
We should remove the code that slices off the beginning of the tool in the case of `curation`. Not sure why that was added in the first place.

[2019-03-18 15:10] dabutvin commented on #547
we are slicing off the end of the string.

instead of
[code]

we show
[code]

I think this makes sense in this case

[2019-03-18 15:37] dabutvin opened #598 "Replace 'Copy URL' with 'Open in new tab'"
![image](https://user-images.githubusercontent.com/5168796/54541894-06b53780-4958-11e9-88d4-40c16aa6a8a0.png)

The argument is that the primary reason you are copying the url is to get it open in a new tab, as well, when you open a new tab you have access to the url easily in the address bar if that's what you are after.

![image](https://user-images.githubusercontent.com/5168796/54542143-77f4ea80

[2019-03-18 15:38] pombredanne opened #599 "Improve default navigation links on the browse page"
When I am browsing, I am naturally drawn to the main text for a component: its name and version. Yet if I click on these I am taken outside of the site to the original package repository (such as https://crates.io/crates/actix-web or https://nuget.org/packages/32feet.NET/3.5.0.3 ) ... I would expect that when I click there I would dive into a definition in the site and not me moved off site. And I

[2019-03-18 15:41] pombredanne opened #600 "Accessibility issues with using logos/icons for component type"
In the browse list, the recent introduction of using a logo/icon for types is confusing unless you are extremely familiar with the logo of a type. It is furthermore not accessible. I would prefer to have a text for this instead

[2019-03-18 15:47] pombredanne opened #601 "Cannot use keyboard for navigation"
Today I do not seem to be able to use the keyboard to navigate on the browse page list and I cannot use the keyboard to achieve anything in the definition popup which is a usability issue for me.

[2019-03-18 15:51] pombredanne opened #602 "Cannot search using namespace"
On the browse page I type `@angular` that is the namespace of several packages and nothing is found. The namespace should be used in search

[2019-03-18 15:53] pombredanne opened #603 "In the browse page consider using type rather than provider as a filter"
The provider is a proxy for a place. When I search for packages I would typically rather filter by type (npm, maven, etc) than the place they are from.

[2019-03-18 15:56] jeffmcaffer commented on #154
Defering for now

[2019-03-18 15:59] DennisClark commented on #592
How about the default sort being Date Modified descending; that is, show most recent updates at the top.

[2019-03-18 16:07] dabutvin commented on #602
👍 this was a shortcut we took to get something working and for sure needs to be followed up on.

Maybe we can add `namespace` and `name` in the same list to choose from?

[2019-03-18 17:02] storrisi commented on #478
Following the discussion on today's weekly meeting:
- we need need to implement validation on user entries on globs
- just add incremental functionality to add a facet to the file list
- only select a facet on folder

Note: if a non-core facet is selected, core will not be selected

[2019-03-18 17:03] storrisi commented on #247
As discussed in today's meeting, we'll have a future discussion about this specific topic.

[2019-03-18 17:05] storrisi commented on #540
As discussed today, we are going to investigate on an update or even a replacement for Typeahead.
We are going to start smart and try to implement this in some specific points, like the SourcePicker.

[2019-03-18 18:08] #594 closed

[2019-03-18 18:15] dabutvin commented on #540
I think we should keep the current typeahead for the workspace and browse pages - and upgrade to the latest version - it seemed to work pretty well with the latest. But like you mentioned, we can't use those updateText methods this way. Instead, I think we should rethink the way the sourcepicker works as a whole.

![image](https://user-images.githubusercontent.com/5168796/54553302-1c822700-496f-11

[2019-03-18 18:30] storrisi commented on #540
I thinks these are the 2 main options to consider an upgrade of Typeahead and removing the updateText() method.

Probably combine the results would help to search immediately for any portion of the string?

[2019-03-18 18:32] #585 closed

[2019-03-18 19:52] dabutvin opened #606 "[Browse] paging through definitions POSTs for all curations"
We should only be fetching the incremental definitions in the new page instead of all of them over and over again.

Once we get through a few pages, we exceed to max size as well

[2019-03-18 21:49] #578 closed

[2019-03-19 06:54] pombredanne commented on #602
@dabutvin re

If you mean search in both fields at once, yes. Search-wise, I would think that what you search on is `namespace/name`

[2019-03-19 07:20] pombredanne commented on #598
This is an improvement ++  and there is more to do to improve the navigation IMHO (I have entered #599 for that).

[2019-03-19 14:25] pombredanne opened #610 "Cannot find "flyway-core""
I type flyway-core in the search box. This is effectively listed as a possible value in the dropdown. Yet when I select "flyway-core" nothing shows up at all. This seems to be the case of several Maven-related records.
![Screenshot from 2019-03-19 15-24-40](https://user-images.githubusercontent.com/675997/54613573-35680680-4a5b-11e9-8a9f-992577bbbc1e.png)

[2019-03-19 17:10] fossygirl opened #612 "Make button colors consistent across site"
Let's make every green button on the site the same color and every red button across the site the same color.

[2019-03-19 17:19] fossygirl opened #613 "Browse page: Components with pending curations filter"
We should add a filter on the Browse page to just see components that have pending curations.

[2019-03-19 17:20] gianpaj opened #614 "Browse: error when making a contribution"
[code]

Steps to reproduce:

1. Make any changes on a definition in the [browse page](https://dev.clearlydefined.io/)
2. Fill the contribution form and press the green OK button
3. See the error in DevTools

The user is still able to make a contribution but I'm not sure what are the repercussions with this issue.
I believe the fix is to move the function from `UserManagedList.js` to `SystemManaged

[2019-03-19 17:22] gianpaj opened #615 "Workflow: Multiselect - Report in a Notification how many definitions were changed"
From the [comment](https://github.com/clearlydefined/website/pull/508#issuecomment-474026332) in #508

[2019-03-19 17:22] gianpaj opened #616 "Workflow: Multiselect - Be able to filter to just show changed definitions"
From the [comment](https://github.com/clearlydefined/website/pull/508#issuecomment-474026332) in #508

[2019-03-19 17:23] gianpaj opened #617 "Workflow: Multiselect - In the Contribution dialog show the list of components with changes/being contributed"
From the [comment](https://github.com/clearlydefined/website/pull/508#issuecomment-474026332) in #508

[2019-03-20 16:03] #547 closed

[2019-03-20 16:41] fossygirl opened #618 "PR not being opened after contribution submitted"
@iamwillbar just tried to submit a contribution and got a message that the contribution was started but the PR was never opened

@dabutvin can you confirm this is a website issue and not a service issue?

[2019-03-20 16:42] fossygirl commented on #618
@dabutvin Okay, it actually did open https://github.com/clearlydefined/curated-data/pull/1144 but the time delta was a full 2 minutes.

[2019-03-20 16:43] iamwillbar commented on #618
Also saw the following errors in the console:

[code]

[2019-03-20 16:58] dabutvin commented on #618
were you on the browse page when you made the contribution?
see #614

[2019-03-20 16:59] dabutvin commented on #618
also looks like there was a 524 error in there somehow

[2019-03-20 17:01] fossygirl commented on #618
@dabutvin No, he was on the Workspace page.

[2019-03-20 17:20] dabutvin commented on #614
looks like we are getting a similar error from the workspace page, so not sure if moving from userManaged to systemManaged will help

[2019-03-20 17:20] iamwillbar commented on #618
I was on the home page so I'm not sure which page that is specifically...

[2019-03-20 17:21] dabutvin commented on #618
ahh - that's what we call browse page - it used to be at /browse, but now it is the homepage. Thanks

[2019-03-21 09:49] storrisi commented on #618
I'm investigating on this problem.

[2019-03-21 11:08] storrisi opened #620 "LicensePicker crashes if the typed license is not valid"
When working on the Components list, and you edit a License of a Definition typing some non-valid chars, that are not matching any existing License, then if from there you open the LicensePicker, this will fail returning a runtime error.

I think we should allow the user only to select one of the values from the list of Licenses, avoiding him to type any kind of character.

[2019-03-21 11:22] storrisi commented on #618
The problem was the same of #614 and it has been addressed in #619

[2019-03-21 11:32] gianpaj commented on #601
I think many issues can be identified by using this browser Extension which highlights accessibility issues:
https://www.deque.com/axe/

[2019-03-21 13:21] gianpaj commented on #478
Regarding:

what should we have instead of "Add a valid Glob expression"?

<img width="557" alt="ClearlyDefined" src="https://user-images.githubusercontent.com/899175/54754745-f2d63380-4bec-11e9-8984-d397bf44efca.png">

[2019-03-21 13:37] pombredanne opened #622 "Incorrect license score and file lists"
https://clearlydefined.io/definitions/npm/npmjs/-/svgo/1.1.1 is reported with 100 license score which is rather incorrect. A single `LICENSE` file is reported for the entire package which is likely the source of the issue

[2019-03-21 14:17] storrisi commented on #622
Probably this should be opened in the service repo, since the UI is showing what the API is actually returning.
See https://api.clearlydefined.io/definitions/npm/npmjs/-/svgo/1.1.1?expand=prs

[2019-03-21 14:19] storrisi commented on #613
Probably we should extend the [search schema](https://github.com/clearlydefined/service/blob/master/schemas/definitions-find.json), and relative queries in the service.

[2019-03-21 14:22] storrisi commented on #610
I've tried that search in production and i've actually found `flyway-core`
<img width="1210" alt="Schermata 2019-03-21 alle 15 21 56" src="https://user-images.githubusercontent.com/7654979/54758763-15684c80-4bed-11e9-9932-d04522d2b3d5.png">

[2019-03-21 15:42] fossygirl commented on #478
@gianpaj Let's just leave that for now.

[2019-03-21 16:15] dabutvin commented on #610
I've been pushing on getting all the definitions updated in the database and just now getting through the mavens.

The textbox is driven from the search index and the queries for the result list are driven from the mongo definitions store. We were likely experiencing search being ahead of the definition being recomputed.

[2019-03-21 16:23] dabutvin commented on #620
Nice find.

I do think we should retain the ability to type a valid expression without using the modal expression builder.

We have the ability to parse and validate expressions. It would be great if, when the expression typed was valid, then it gets dynamically added to the list

[2019-03-21 16:31] storrisi commented on #620
I agree with your suggestion except for one point:

What do you mean exactly? Should we consider to add valid expressions to the list that we actually show to the user?

[2019-03-21 17:00] pombredanne commented on #610
@dabutvin @storrisi this makes sense then. Thanks!
Let's keep this open a bit to make sure this is the problem alright.

[2019-03-21 17:16] dabutvin commented on #610
agreed.

I've been thinking about other ways to keep these stores in sync and at the same time increase our query capabilities. Our search index is just used for coordinate suggestions today and I'm hoping to use it for better stats capabilities in the future, answering questions like "How many mavens have an MIT license?"

These questions are very expensive to answer with our MongoDB and the way

[2019-03-21 18:10] dabutvin commented on #620
I was thinking that as soon as the expression becomes valid, it shows up in the list as a selection

[2019-03-21 18:19] dabutvin commented on #622
I just reharvested this one to get the latest tools.
https://api.clearlydefined.io/definitions/npm/npmjs/-/svgo/1.1.1 showing a licensed score of 46 now

[2019-03-21 21:03] dabutvin commented on #289
Okay. It's probably time to re-activate this.

Let's go ahead and go for the restructuring required to get lerna in here

[2019-03-21 21:21] storrisi commented on #573
Since i've made an update on Typeahead in #611 i will continue the work on this one once the changes will be in place.

[2019-03-21 21:25] storrisi commented on #620
Something like we're already doing with the GitHub commit picker i guess.

[2019-03-21 21:36] fossygirl commented on #618
I was able to replicate this behavior on the /workspace page as well. I submitted the contribution and got two popups but no PR until about 30 seconds later.

@dabutvin

[2019-03-21 22:40] #614 closed

[2019-03-21 22:41] dabutvin commented on #618
I don't think this is a website issue, we are getting a 524 from the service in prod during curations.

[2019-03-21 22:42] dabutvin commented on #618
![image](https://user-images.githubusercontent.com/5168796/54789510-ebfcf000-4bef-11e9-9711-ce190cedbb4a.png)

[2019-03-22 16:58] storrisi commented on #592
As discussed in the weekly meeting, we're going to sort by release date as a default

[2019-03-22 16:59] storrisi commented on #613
@dabutvin what do you think about this? Do you agree with my comment above?

[2019-03-22 17:50] dabutvin commented on #613
agreed @storrisi we should extend the schema.
The queries in the service will be a little different I think.

The pending curation state is not be available in the same store as the definitions, the definition store represent the current state only right now

[2019-03-22 17:56] #74 closed

[2019-03-22 18:01] #534 closed

[2019-03-22 18:09] #572 closed

[2019-03-22 23:37] dabutvin commented on #617
this is an awesome idea - even beyond multiselect.

We should surface a summary of the changes to the user

[2019-03-22 23:44] dabutvin opened #624 "Retry loading a definition entry when it has no data"
You can add components into a definition list that are not yet harvested. This can happen in a few ways. For example, from dragging and dropping a `package-lock.json` file or a URL to the workspace, or from adding more versions of an existing component.

When this happens, we notice it is missing from our dataset and go off and harvest the component - often times very quickly.

IT is hard to know

[2019-03-23 00:03] dabutvin opened #625 "Score popover text color updates"
before:

![image](https://user-images.githubusercontent.com/5168796/54858801-5c754100-4cc4-11e9-87b1-31faacf352c3.png)

after:
![image](https://user-images.githubusercontent.com/5168796/54858713-ac073d00-4cc3-11e9-88ee-79368936d474.png)

Note: we should still have red badges for low overall scores like we do today, but when you get the popup the text is labeled yellow and green

[2019-03-23 00:07] dabutvin opened #626 "Switch version popup should use montserrat font"
before:
![image](https://user-images.githubusercontent.com/5168796/54858879-ce4d8a80-4cc4-11e9-8b11-eaad5937c80d.png)

after:
![image](https://user-images.githubusercontent.com/5168796/54858897-e6250e80-4cc4-11e9-93d0-653d783f0acd.png)

[2019-03-23 00:28] dabutvin commented on #612
The full details page should have a green OK button instead of blue

![image](https://user-images.githubusercontent.com/5168796/54859216-d5c26300-4cc7-11e9-8712-f50c07b31ec6.png)

[2019-03-23 00:36] dabutvin opened #627 "tooltip overflows on revert button"
When you have edits and open a definition full details, the tooltip is not readable on the revert button

![image](https://user-images.githubusercontent.com/5168796/54859307-e32c1d00-4cc8-11e9-88c1-44fa8e9b637e.png)

It may be easier to just remove the tooltip altogether in this one instance

[2019-03-23 00:36] dabutvin opened #628 "Update UI for 'Unsaved Changes' modal"
- update the language for the new text
 - color of the OK button should be green
- spacing between ok/cancel increased
 - shading on hover for cancel should go grey

before:

![image](https://user-images.githubusercontent.com/5168796/54859355-50d84900-4cc9-11e9-80fa-053d52a3c068.png)

after:

![image](https://user-images.githubusercontent.com/5168796/54859344-3ef6a600-4cc9-11e9-9534-bda88bad7be7.p

[2019-03-25 08:55] storrisi commented on #624
It could be useful to check only for components that needs to be harvested.

I'm just wondering if:
- we have some kind of information to identify those components
- how many times, and how often, we should check for the response from the server?

[2019-03-25 09:06] storrisi commented on #599
@jeffmcaffer @fossygirl what do you think about this topic?

I agree with @pombredanne about the link over the definition name. It happens quite often that you click it to expand the definition and it opens a new browser tab.
Probably we should switch the functionalities:
- click on the definition name: open the definition details
- click on a specific icon: open the original repo page

Or, instea

[2019-03-25 09:07] storrisi commented on #600
We recently added a tooltip over the logo. Do you think it could be enough from your point of view?

[2019-03-25 09:23] storrisi commented on #601
@pombredanne which kind of specific behavior you would like to achieve using the keyboard?
I think the main goal could be to use the Tab key to move from one field to another.

[2019-03-25 09:24] storrisi commented on #602
@dabutvin is this a change that needs to be applied on the service side?

[2019-03-25 09:36] storrisi commented on #603
@jeffmcaffer @dabutvin @fossygirl what do you think? We can even add an additional filter to the browse page.

[2019-03-25 15:29] dabutvin commented on #603
How about we replace provider with type?

[2019-03-25 17:28] pombredanne commented on #603
@dabutvin this would work fine. :+1:

[2019-03-26 10:27] storrisi commented on #624
I've investigated a little on this.

Probably the best way to identify these components is to check if the field `described.tools` is missing.

@dabutvin what do you think?

[2019-03-27 14:57] storrisi commented on #592
@dabutvin should the UI implement a default sort on the page or the API would return the results sorted by the mentioned property?

[2019-03-27 15:01] storrisi commented on #511
@jeffmcaffer do you have any additional comment on this? I would be happy to work on it and bring this change in place.

[2019-03-27 23:06] fossygirl opened #634 "Download component button doesn't work"
Download component button doesn't work when there are scopes on an npm.

@dabutvin

[2019-03-28 12:17] gianpaj commented on #634
Hi @fossygirl,

Could you please provide the URL of a definition when this issue happens?

Thanks

[2019-03-28 13:09] fossygirl commented on #634
Here: https://clearlydefined.io/definitions/npm/npmjs/@microsoft/sp-module-interfaces/1.8.0

[2019-03-28 14:56] fossygirl opened #635 "Sort by newer doesn't sort by newer release date"
See attached screenshot. I searched for "mitm" on provider: npmjs and then sorted by "newer"

![Screen Shot 2019-03-28 at 7 54 37 AM](https://user-images.githubusercontent.com/17101092/55167801-e000b900-512e-11e9-9f0d-cd2bf318a215.png)

You'll see a release date of 2018 appear both before *and* after a release date of 2017.

[2019-03-28 22:12] fossygirl opened #636 "Typeahead suggestions should have the logo of the type they are"
In the attached screenshot, the Nuget.Client suggestion is for NuGets and the nuget.client suggestion is for GitHub. We should include the logo aside each suggestion so people know which is which.

![Screen Shot 2019-03-28 at 3 10 31 PM (2)](https://user-images.githubusercontent.com/17101092/55196173-d21d5900-516b-11e9-8d9f-1790476c3fea.png)

[2019-03-28 23:10] fossygirl opened #637 "Sort by highest score doesn't produce an ordered descending list"
This list is sorted by Highest Score. You'll see things with 0's appear before things with 40's and 50's.

![Screen Shot 2019-03-28 at 4 07 52 PM (2)](https://user-images.githubusercontent.com/17101092/55198595-d5b4de00-5173-11e9-86d2-65cfe2c512a6.png)

[2019-03-28 23:15] fossygirl opened #638 "Date picker switches date format on click"
When you are viewing the date picker the date format is listed as YYY-MM-DD and when you click on it it switches to MM/DD/YYY. Let's please do one or the other but not both.

![2019-03-28 16 13 29](https://user-images.githubusercontent.com/17101092/55198761-963ac180-5174-11e9-95cb-e4b8e80b8acc.gif)

[2019-03-29 08:40] storrisi commented on #637
I'm receiving some different results in production using the same filter:

![Schermata 2019-03-29 alle 09 38 32](https://user-images.githubusercontent.com/7654979/55219967-73f18400-5206-11e9-9a60-57f63ab13bb0.png)

BTW this is much more a service problem, since the UI doesn't apply any kind of sorting in this case.
Data are shown as the service returns.

I think we should move this issue in the se

[2019-03-29 08:42] storrisi commented on #636
This change should affect only the Browse page or any place where the same search component is used?

[2019-03-29 08:45] storrisi commented on #635
As for #637 , this is a service issue, since data are returned already sorted:
![Schermata 2019-03-29 alle 09 44 19](https://user-images.githubusercontent.com/7654979/55220332-54a72680-5207-11e9-98fa-ac877cfefa07.png)

[2019-03-29 08:58] storrisi commented on #634
Looks like the url returned from the service is wrong.
The UI links correctly to the provided URL, which returns `error: "exception parsing path /sp-module-interfaces/@microsoft/sp-module-interfaces-1.8.0.tgz"`

I'm going to investate on this, but this is a service issue so we can close this one and track the same problem on the service repo.

[2019-03-29 09:01] storrisi commented on #634
I've opened https://github.com/clearlydefined/service/issues/463 which address this problem.

[2019-03-29 09:03] storrisi commented on #637
I've opened https://github.com/clearlydefined/service/issues/464 which address this problem.

[2019-03-29 09:07] storrisi commented on #635
I've created https://github.com/clearlydefined/service/issues/465 which address this problem on the service.

[2019-03-29 10:26] gianpaj commented on #488
FYI: in the discussion the solution to was to hide the FileList and Raw data on mobile screen sizes

[2019-03-29 14:31] jeffmcaffer opened #639 "update version of Monaco"
Lower priority but at some point here we should look to update the `monaco-editor` and `react-monaco-editor` packages we are using. They are very old. Not sure there are substantial new features but they are likely >1 year old.

need to be careful thought. The integration was not altogether easy with some funky file copying and a helper build function etc. Perhaps in the new versions they have sim

[2019-03-29 18:57] dabutvin opened #641 "Update UI on homepage"
See some of the updates in this picture and I'll try to break them down here

![image](https://user-images.githubusercontent.com/5168796/55255951-19adee80-5219-11e9-8caa-c2d72429be5c.png)

- Move 'Active filters' to the Bar above the definition list
- make the filter bar #0000000a
- update the hover on the definition entry to match this color
- the red X to the left of Filter/Sort will clear all f

[2019-03-29 21:10] fossygirl commented on #634
Sure, closing.

[2019-03-29 21:10] #634 closed

[2019-03-29 21:10] fossygirl commented on #637
Sure, closing.

[2019-03-29 21:10] #637 closed

[2019-03-29 21:11] fossygirl commented on #635
Sure, closing.

[2019-03-29 21:11] #635 closed

[2019-04-01 07:48] storrisi commented on #618
@dabutvin do you think we can close this one, or we need it to track it some still existing problems?

[2019-04-01 07:56] storrisi commented on #95
Some work has been addressed in #484 , #486 , #487 and #488

I'm wondering if we need this issue open to track all the work or maybe we can manage it by opening some specific issues.

[2019-04-02 19:25] #612 closed

[2019-04-02 19:25] #626 closed

[2019-04-02 19:27] #625 closed

[2019-04-02 20:15] #606 closed

[2019-04-03 10:22] storrisi commented on #638
Unfortunately , the HTML 5 field `date`, which is used here, shows the date based on the local timezone of the system.

In my case, i see `dd/mm/yyyy` when typing in.

We have 2 solutions then:

- use a custom `Datepicker`, like https://ant.design/components/date-picker
- show a normal `text` field with some kind of validation, and convert the input to a standard date

[2019-04-03 15:59] dabutvin commented on #638
Can we set the placeholder text based on the current time zone?

[2019-04-03 16:04] storrisi commented on #638
@dabutvin sure, i didn't thought about that simple solution

[2019-04-04 17:22] bduranc opened #647 "[Bug Fix/Enhancement] You lose your work if you close or refresh your Workspace"
**Type:** Bug Fix or Feature Enhancement
**Affected:** https://clearlydefined.io/workspace

I tried to see if an issue for this was already filed, but to my surprise I could not find any.

Currently, if you have multiple items in your work list, a simple refresh of the page will clear all items in that list.

In general, this is troublesome for users who are curating a large list of components. On

[2019-04-04 17:24] bduranc commented on #617
From an end-users point of view, I will +1 this.

Right now, using the work list is difficult because when you click Contribute, everything is submitted under one PR. This is OK for one or two components that have minor curation (say only top-level license data), but becomes really cluttered to file the single PR when doing > 2 components with more specific curation work, say being done on the fil

[2019-04-04 19:44] dabutvin commented on #647
Yes! Great idea. We can keep your definition list in browser storage or something like that

[2019-04-05 16:47] #628 closed

[2019-04-06 01:40] ariel11 opened #648 "alphabetizing when searching"
Would it work to make alphabetizing not matter when searching for components?  For example, I get different results if I search for "Newtonsoft.Json" vs. "newtonsoft.json."

[2019-04-08 13:59] storrisi commented on #648
@dabutvin is the service search case sensitive?

[2019-04-08 14:33] storrisi commented on #641
@dabutvin in the Workspace page we have also the Multiselect behavior to show in the same position of the filters in the UI.
Also, we recently added a string that shows the number of definitions as you can see in the screenshot.

<img width="1180" alt="Image 2019-04-08 at 3 19 48 PM" src="https://user-images.githubusercontent.com/7654979/55731260-ceae8b00-5a11-11e9-9ef7-0172085daf30.png">

Perhaps

[2019-04-08 15:17] dabutvin commented on #648
the suggestions that prompt you to autocomplete are not case sensitive.

Where are you searching when you see this?

[2019-04-08 15:18] dabutvin commented on #641
good point. Let's try and get the filter bar landed first and then figure out how all this fits together.

[2019-04-08 15:20] ariel11 commented on #648
I get different packages whether I select "Newtonsoft.Json" vs "newtonsoft.json."
![image](https://user-images.githubusercontent.com/17935946/55735927-2e3b7500-59d7-11e9-8868-2a4be4db12fd.png)

[2019-04-08 15:25] ariel11 commented on #648
@dabutvin - Thanks for looking into...  Ideally, regardless of which name I select in the above example, I would see all the matches for this name (the packages and the repos), as the only difference between the two names is capitalization. If I only selected the one using upper case, I might think the repos were not in ClearlyDefined.

[2019-04-08 15:25] dabutvin commented on #648
Ahh that KS for clearing that up.

Yep this is something that im looking at and can take care of likely this week

[2019-04-08 20:58] royaljust opened #651 "It is hard for curators to find what files need curation"
It is very difficult for a curator to find what files need to be curated in a given file system.  For example, filtering by "NOASSERTION" in apache spark requires 6 clicks to see the first three files to curate; and 10 clicks to get to the next file.

For a given component, giving a flat list of files in need of curation would be very beneficial.

![image](https://user-images.githubusercontent.com

[2019-04-09 18:28] bduranc opened #652 "Improvement to score metric experience"
**Issue Type:** Feature Request / Improvement to existing feature

**Issue Description:** The license-score is critical to being able to quickly determine the completeness and accuracy of a CD component. However, it may be difficult for newcomers (and perhaps even some experienced users) to interpret as currently displayed in the UI.

These suggestions on how to improve the readability of the scor

[2019-04-09 18:40] bduranc commented on #652
Two other post-submission thoughts that came up but were not included in the original proposal (or the mock-up), so here they are below:

1. One important part of what is proposed in '#1' is the idea that currently the measure of the score is rather ambiguous, meaning users may be confused if the score figures are an actual calculated score or just a 'count of something' (i.e. '# of x' out of 'y')

[2019-04-10 07:55] jeffmcaffer opened #653 "/harvest UX permissioned and may not work"
There is still a permission check on exposing the /harvest UX. even when signed in, actually trying to harvest something does not work. you can pick a component name but then the screen goes blank. I've not had a chance to investigate

[2019-04-10 08:20] storrisi commented on #653
Looks like that the same problem is already solved in dev, maybe we only need to make a release to prod?

[2019-04-10 08:24] storrisi commented on #653
I've investigated further more, the problem is related to the title and alt property of the provider image, this has been fixed in https://github.com/clearlydefined/website/pull/609 and needs to be released to prod.
The last release on prod was 23 days ago and this fix is from 21 days ago.

[2019-04-10 08:41] jeffmcaffer commented on #653
Thanks @Simo, looks like we need to push to prod.

@dabutvin, can you drive this today if things are looking good. Would love to be demoing the latest.

[2019-04-10 13:26] jeffmcaffer opened #654 "update section title on curation page"
see https://clearlydefined.io/curations/971

Two changes:
* the link to the PR should open in a new window/tab
* The section title should be wider so it does not wrap. See below.

![Screen Shot 2019-04-10 at 3 24 18 PM](https://user-images.githubusercontent.com/10070956/55882478-e5d1b200-5ba4-11e9-99b9-5c3c1784f607.png)

[2019-04-10 13:32] jeffmcaffer opened #655 "Add links for definition files"
https://clearlydefined.io/definitions/npm/npmjs/-/cycle/1.0.3

In that definition the `files` entry for `package.json` has a `token` property which is the hash for getting the attached file. The file list entry for `package.json` should be a link that results in the identified attachment is downloaded and showed to the user. Easiest thing for now would be to do that in a simple `text/plain` view i

[2019-04-10 14:53] #627 closed

[2019-04-10 14:55] #593 closed

[2019-04-10 15:06] #641 closed

[2019-04-10 17:36] dabutvin opened #657 "use querystring on homepage browsing"
for example, browsing to https://clearlydefined.io/?license=MIT should have the license filter preselected.

Actions you take to filter or sort should be reflected in the querystring as well

[2019-04-10 17:37] Fredrick-Tam commented on #657
This would be really helpful to allow searching through the available package versions; especially if this information could be routed to from stats page.

[2019-04-10 17:38] dabutvin commented on #657
onFilter onSort etc can be found here: https://github.com/clearlydefined/website/blob/master/src/components/Navigation/Pages/PageBrowse/PageBrowse.js#L117

[2019-04-10 20:54] storrisi commented on #653
Now that all the fixes have been release to prod, i don't see the problem anymore, we can close this.

[2019-04-10 20:56] storrisi commented on #618
@dabutvin do we need to keep this one open for some reason?

[2019-04-10 20:59] dabutvin commented on #618
ahh I couldn't find this one earlier I opened https://github.com/clearlydefined/service/issues/487 on the service side

[2019-04-10 20:59] #618 closed

[2019-04-10 21:00] dabutvin commented on #618
i just had a pr open very fast, not sure if this was an anomaly

[2019-04-10 21:00] dabutvin commented on #653
👍 👍 👍

[2019-04-10 21:00] #653 closed

[2019-04-10 21:01] storrisi commented on #652
@bduranc some changes of the color palette where already under development, you can see now how it results

[2019-04-10 21:05] bduranc commented on #652
@storrisi : I noticed. Looks good to me.

[2019-04-10 21:06] storrisi commented on #651
@royaljust you are definitely right.
We can maybe think to have all folders open when a filter is applied to the list.
What do you think?

[2019-04-10 21:09] storrisi commented on #622
@dabutvin do we need to keep this one still opened for some reason?

[2019-04-10 21:11] dabutvin commented on #622
no probably not, we've been doing a good job getting all the old data re-harvested.

[2019-04-10 21:11] #622 closed

[2019-04-10 21:12] dabutvin commented on #651
opening the folders as you type might be really cool 👍

[2019-04-10 21:13] dabutvin commented on #652
I think there is still a lot of really good points in here we should go through

[2019-04-10 22:01] storrisi commented on #647
We already have `redux-persist` in the project, we can plan to use that for this purpose.

[2019-04-10 22:03] storrisi commented on #624
@dabutvin do you have some thoughts about this? This is not a complex implementation, so if we decide the best way to identify these items, we can drive the development soon

[2019-04-10 22:04] storrisi commented on #610
@dabutvin do you think we can close this one?

[2019-04-10 22:09] dabutvin commented on #610
yep. I think we are all mirrored now!

[2019-04-10 22:09] #610 closed

[2019-04-10 22:10] dabutvin commented on #624
described.tools is definitely the way to check.
I'm hesitant to integrate this until a little further down the road and our harvest queue quiets down

[2019-04-10 22:42] storrisi commented on #655
How the token should be used for non-github files to link the content?

For github files we return the url in order to reach the related content.
I guess it should be something pretty similar?

[2019-04-11 01:00] dabutvin commented on #655
Should link to api.clearlydefined.io/attachments/<token>

[2019-04-15 08:53] storrisi commented on #636
@fossygirl do you have any update on this?

[2019-04-15 08:58] storrisi commented on #595
This implementation has been addressed in #508

[2019-04-15 08:59] storrisi commented on #592
@dabutvin do you have any feedback on my last question?

[2019-04-15 09:35] storrisi commented on #648
@dabutvin is this a service related issue then?

[2019-04-15 09:38] storrisi commented on #602
@dabutvin do you have any feedback on this?

[2019-04-15 09:39] storrisi commented on #600
@pombredanne do you have any thoughts on my question above?

[2019-04-15 09:40] storrisi commented on #599
@jeffmcaffer @fossygirl @dabutvin do you have any feedback on this topic?

[2019-04-15 09:41] storrisi commented on #598
@dabutvin i agree. If copying the url hasn't any other purpose, then a link would be enough.
Should we bring this in place?

[2019-04-15 14:05] fossygirl commented on #636
Any place where the same component is used.

[2019-04-15 15:27] dabutvin commented on #598
I'm all for it! Sounds like @pombredanne is on board too. Let's do it

[2019-04-15 15:52] storrisi commented on #592
Thanks @dabutvin , i will work on this.

[2019-04-15 15:52] storrisi commented on #636
Thanks @fossygirl , i will work on this implementation.

[2019-04-15 22:44] dabutvin commented on #603
let's do this!

[2019-04-15 22:45] dabutvin opened #661 "use git logo for the git types (not github logo)"
git is separate from github

the logos for definition entry and the stats page should be updated

[2019-04-16 17:00] #592 closed

[2019-04-16 17:08] #647 closed

[2019-04-16 17:12] #603 closed

[2019-04-16 17:20] #638 closed

[2019-04-17 00:46] fossygirl commented on #661
You can find their logos here: https://git-scm.com/downloads/logos

[2019-04-17 18:30] #598 closed

[2019-04-19 14:19] storrisi commented on #661
@dabutvin so in the definition entry we should associate images checking for the coordinates type rather than the provider?

[2019-04-19 14:58] storrisi commented on #652
I really glad all of yours suggestions @bduranc , i can start implementing some of them but i'd love to have some feedbacks from @jeffmcaffer and @fossygirl as well.

[2019-04-19 15:11] storrisi commented on #636
Since this implementation requires to work on Typeahead, and since there's an update for Typeahead under review, it's better to wait for the merge of that change and then start working on this one.

[2019-04-22 15:26] jeffmcaffer opened #671 "Handle the case of sorting by ReleaseDate when there is no date"
Entries without a `releaseDate` are omitted from the results when sorting by date. This happens on the Browse page but will happen anywhere that we sort by date as it is a database issue.

[2019-04-22 19:34] #540 closed

[2019-04-22 19:37] #531 closed

[2019-04-23 04:20] jeffmcaffer commented on #599
I don't have particular thoughts. We should get feedback from users and see what they think. The UI is for them. Would rather not change it randomly but if we design an experiment or have some UX expert input, by all means.

Do we have Google Analytics on this? Can we see how often people click where? Understand if they then click somewhere else?

[2019-04-23 04:37] #661 closed

[2019-04-23 16:56] #620 closed

[2019-04-24 19:24] storrisi opened #673 "Use ProtoBuf to shorten share links"
As mentioned in https://github.com/clearlydefined/service/issues/447 , we are going to use ProtoBuf library to shorten share links like: https://clearlydefined.io/share/eJy9Xdty4zYS/Rc/hyoABEAgj/sL+7i1tYVLQ6JNkRySsuOk8u/blGcmNi+SohYzU1M1ouzTQN8baIB/PKWyGqB7+vWPP3956ptu+Nf7069PtTvC0y9PoWm6WNZugP7p1//88TS8tzB+2x7xy7ZrXss4/ur44LnHR+Ov9a0L4w9l3z/jf4vfyzbrB1dHVzX1CNzBa9mXTY1fsh3biac/f7kb3YUAfV/6siqH9yz

[2019-04-24 22:06] #169 closed

[2019-04-24 22:16] bduranc opened #675 "Make it so "Contribution" modal dialog only closes when you click "OK" or "Cancel"."
**Issue Type:** Feature Request
**Issue Description:**

Currently, the _"Describe the changes in this curation"_ (a.k.a the "Contribution" dialog) can be accidentally closed by clicking anywhere outside the dialog. If a user does close the dialog, it will likely result in loss of any work spent filling in the fields required to create the curation PR.

It would be better if this dialog could only

[2019-04-24 22:20] dabutvin opened #677 "update react-bootstrap-typeahead"
https://github.com/ericgio/react-bootstrap-typeahead

we are on 4.0.0-alpha.5 right now, but we should not stay here

[2019-04-25 07:16] storrisi commented on #677
I know, but the previous version 3.4.2 contained some warnings that we were not able to remove, and actually some of the recent implementations would not be implementable.

What do you suggest?
Since there aren't yet stable releases, should we use always the latest version?

[2019-04-25 13:36] maxhbr opened #678 "Curation UI behaves confusingly and does not remove old license"
I am looking on [git/github/lz4/lz4/dfed9fa1d77f0434306d377c4da1f7191d3ba08](https://clearlydefined.io/definitions/git/github/lz4/lz4/dfed9fa1d77f0434306d377c4da1f7191d3ba08)a at the file `lib/dll/example/Makefile`. The file has the old SPDX ID `GPL-2.0+` as license. If I use pencil-icon or the eye-icon to modify the license to `GPL-2.0-or-later` the UI always displays `GPL-2.0+ AND GPL-2.0-or-lat

[2019-04-25 13:43] storrisi commented on #678
Looks like a service issue, i've reproduced the problem with another definition.

This is the PATCH details sent to the preview endpoint:

`{"files":[{"path":"Makefile","license":"0BSD","attributions":["Copyright (c) Yann Collet 2011-2016"]}]}`

and this is the response of the related file:

`{"path":"Makefile","license":"0BSD AND BSD-2-Clause","attributions":["Copyright (c) Yann Collet 2011-2016"

[2019-04-25 13:46] storrisi commented on #675
@bduranc good point, i'll look forward to implement this behavior. Thanks!

[2019-04-25 13:48] maxhbr opened #679 "The web site resets when tried to add facet glob for Docs"
# Problem 1
On [git/github/lz4/lz4/dfed9fa1d77f0434306d377c4da1f7191d3ba08a](https://clearlydefined.io/definitions/git/github/lz4/lz4/dfed9fa1d77f0434306d377c4da1f7191d3ba08a), if I try to add a glob expression to `docs` I get a 400 returned, with the content `data/described/facets Facets object can only contain data, dev, doc, examples, and tests`

## Screenshots:
![2019-04-25_15:44:17](https://u

[2019-04-25 13:54] maxhbr commented on #679
related: https://github.com/clearlydefined/curated-data/pull/1258

[2019-04-25 13:57] maxhbr commented on #679
The **problem 1** might just be, that the key for in the JSON has to be `"doc"` instead of `"docs"`

[2019-04-25 14:11] maxhbr opened #680 "REST Api documentation on https://api.clearlydefined.io/api-docs seems to be outdated"
On https://api.clearlydefined.io/api-docs/#/harvest/post_harvest is the request documented to issue harvesting of data. But If I try the example request, which posts something like
[code]
via
[code]
I get a **400** in return with the message
[code]

This looks like that the documentation is outdated and does not represent the current requirement of sending coordinates instead of a path.

## Screen

[2019-04-25 15:57] ignacionr commented on #673
@storrisi was asking today about the numbers in my info graph; particularly, why would it entail more work to use an external library than create an all-new custom serialization process?

- **Protobuf** obtains very good message sizes by leveraging its knowledge of the structure of the message; such structure needs to be described in a ".proto" file (a specific Protobuf message description languag

[2019-04-25 16:10] #654 closed

[2019-04-25 16:13] dabutvin commented on #679
thanks for tracking this down!

We are really close to getting this fixed in #629
https://github.com/clearlydefined/website/pull/629/files#diff-2433278eb16164dc386e0cced06c8a2aR261

[2019-04-25 16:15] dabutvin commented on #677
We can wait for the 4.X stable to launch, just wanted to put this here so we don't forget

[2019-04-25 16:19] #488 closed

[2019-04-25 19:10] #636 closed

[2019-04-25 19:12] fossygirl commented on #573
@storrisi @dabutvin Is this obviated or still in progress?

[2019-04-25 22:42] bduranc commented on #679
@dabutvin

I also observe similar behavior with the entire page becoming white when I click "Curations".

https://clearlydefined.io/definitions/npm/npmjs/-/async-mutex/0.1.3

The trace from my Chrome browser appears to be throwing a TypeError.

react-dom.production.min.js:3744 TypeError: Cannot read property 'isFetching' of undefined
react-dom.production.min.js:4817 Uncaught TypeError: Cannot read

[2019-04-25 23:38] dabutvin opened #682 "null ref on curations tab of full detail"
1. go to https://clearlydefined.io/definitions/npm/npmjs/-/async-mutex/0.1.3
2. scroll to raw data section
3. click 'curations'

[2019-04-25 23:38] dabutvin commented on #679
ahhh, that's a bug

Let's get a new ticket open #682

[2019-04-26 07:21] storrisi commented on #573
We've done several changes since this issue has been opened.
Now we have a Filter Bar that shows all the applied filters and sorts, and the user is able to reset any kind of selection.
I think that that implementation covers also this requirement, so we can close this one.

[2019-04-26 12:19] maxhbr commented on #272
Is there somewhere already a draft or some WIP version of this mapping? Or was there already some discussion? This would help me to understand the ClearlyDefined data model and how it relates to FOSSology.

[2019-04-26 13:06] #573 closed

[2019-04-26 15:40] dabutvin opened #683 "Harvest tab crashes with out of memory for large payloads"
example: https://clearlydefined.io/definitions/maven/mavencentral/com.amazonaws/aws-java-sdk-bundle/1.11.163

The monaco editor can't handle it, it's over 7MB of data

[2019-04-26 15:45] storrisi commented on #683
This is a tricky problem. Don't know if we can handle upgrading the Monaco Editor, but i suspect no.

Any ideas?

[2019-04-26 15:50] dabutvin commented on #683
take a look at https://github.com/Microsoft/vscode/blob/d6c200ea57fc3104af1c237dfd16ff0d83c3ad2a/src/vs/editor/common/model/textModel.ts#L48

they are doing stuff with buffers

[2019-04-26 15:58] jeffmcaffer commented on #272
Unfortunately no. We have gone over the definition schema with Kate a few times informally but a) it has changed since then and b) we never really got as concrete as to capture a mapping.

Best place to start is https://github.com/clearlydefined/service/blob/master/schemas/definition-1.0.json. Do note that there are a couple of additions in the works but nothing whacky.

Thanks for looking at this

[2019-04-26 16:18] #679 closed

[2019-04-26 16:50] storrisi commented on #671
@jeffmcaffer i believe you are talking about the browse page?

[2019-04-26 16:55] storrisi commented on #678
@dabutvin did you had the chance to look at this? Should we move this issue to the service repo?

[2019-04-26 18:14] jeffmcaffer commented on #671
@storrisi yes. sorry the original description was really crappy. I updated it to be marginally less crappy.

The base problem is that the doc db removes from the results any entries that have an empty prop on which you are sorting. @dabutvin and I have talked about a couple ways of dealing with this. Ideally they would all be handled service-side so clients would not have to even know.

As such, t

[2019-04-26 19:39] #682 closed

[2019-04-29 13:33] storrisi commented on #671
I believe https://github.com/clearlydefined/service/pull/488 is tracking this problem on the service repo

[2019-04-29 13:46] maxhbr opened #688 "Website crashes on opening the curations tab for eclipse/birt"
On the component [eclipse/birt/f4668e5d39c486406eca158527b4d7ff511d6a1e](https://clearlydefined.io/definitions/git/github/eclipse/birt/f4668e5d39c486406eca158527b4d7ff511d6a1e) the website crashes in Firefox and Chromium on clicking of the tab `curations`. The whole page becomes white.

There is no asynchronous request issued directly before the error.

The tabs `Current definition` and `Harvested

[2019-04-29 13:48] storrisi commented on #688
@maxhbr the problem about the tab has been fixed recently in https://github.com/clearlydefined/website/pull/686 , probably it only need to be pushed on prod.

[2019-04-29 13:51] maxhbr commented on #688
@storrisi : thank you for the information. Should I create an issue for my question with the broken/incomplete sources, or is this also caused by the same bug?

[2019-04-29 13:53] storrisi commented on #688
Since those are separate problems, i think that having different issues it's definitely better

[2019-04-29 13:54] #688 closed

[2019-04-29 13:58] maxhbr opened #689 "The Sources of the component eclipse/birt/f4668e... are broken"
In the UI, the detail view of  [eclipse/birt/f4668e5d39c486406eca158527b4d7ff511d6a1e](https://clearlydefined.io/definitions/git/github/eclipse/birt/f4668e5d39c486406eca158527b4d7ff511d6a1e) only lists one single file `LICENSE`, although in the corresponding git commit and the downloadable sources are more files, e.g. `./pom.xml`.

Is this only a UI bug?

Is there a way to curate sources, e.g. if

[2019-04-29 13:58] maxhbr commented on #688
follow up issue for the off-topic stuff is: https://github.com/clearlydefined/website/issues/689

[2019-04-30 17:35] bduranc opened #690 "Unable to scroll through expanded list of licenses or attributions under definition"
**Issue Type:** Bug
**Issue Description:**

Neither the "Declared" or (C) "Attributions" tool-tips allow you to scroll the contents inside them.

When you hover over a definition's "Declared" or "Attributions" fields, a tool-tip is shown to expand the list of licenses if there are more than a few. However, once you move your mouse toward the tool-tip itself (to manipulate it's scroll bar), the who

[2019-05-01 18:09] fossygirl opened #691 "Include other versions of the same component in full details page"
In the full details view of a component we should include easy links to the other versions of the same component in the same package manager.

[2019-05-01 18:10] fossygirl opened #692 "Add ability to copy URL for definition in full details page"
We have a copy URL button for the link to the definition in the Browse and Workspace view, we should add the ability to copy the URL for the definition to the full details page.

[2019-05-02 16:20] storrisi commented on #535
@jeffmcaffer is this problem happened again? I was not able to reproduce it in order to solve it.

[2019-05-02 16:28] storrisi commented on #615
This has been implemented in https://github.com/clearlydefined/website/pull/508/commits/1b7224237c00cc07c67085b13b3014e7e5f4ee6e

We can close this one.

[2019-05-03 22:03] bduranc commented on #329
@dabutvin: I am still seeing some cases of #329 despite it being closed.

I was trying to declare some licenses on the file level, but I keep getting that infamous blank screen:

https://clearlydefined.io/definitions/git/github/javaee/javax.annotation/9b07ccb6abe68f55f5d48ecfa84a300998d7c9a0.

It basically happens whenever I try to edit a field that already has an SPDX expression in it.

Thanks.

[2019-05-06 13:07] storrisi commented on #329
@bduranc the problem here is that the file has a license that cannot be validated by the spdx library that we use, since the license contains a NOASSERTION value: `CDDL-1.1 OR NOASSERTION AND GPL-2.0-only`

So i've made a quick update to avoid this, but i'm wondering if this is really possible?

[2019-05-06 14:04] storrisi commented on #691
@fossygirl should the user be able to change the current version while navigating, or perhaps he should be able to see a complete list of versions, and then click on of them to open it on another tab of the browser?

This question is important to understand how to render the behavior to the user.
In the first case we can add a simple dropdown, maybe near to the version in the title section.
In the

[2019-05-06 14:08] storrisi commented on #689
@dabutvin i think this is a service issue, since the file list is returned from the APIs.
Thoughts?

[2019-05-06 14:37] storrisi commented on #687
We have [this implementation](https://github.com/clearlydefined/website/pull/632) under review that actually checks for something that is not already harvested and automatically ask for an update to the service.

Instead of saying "we don't have this now, but it's been queued, check back later!" i would suggest to show a first notification like "some definitions are not already harvested, we'll no

[2019-05-06 14:39] storrisi commented on #678
@dabutvin i think this should be moved to the service. We can then take care of this and see why it has this strange behavior.

[2019-05-06 15:08] #579 closed

[2019-05-06 19:00] bduranc commented on #329
@storrisi : I'm not sure I really follow. In almost all cases, it seems these are files that already have a valid SPDX expression entered of either NOASSERTION by itself or in combination with other licences.

I simply wished to update the license to a different value. The expression I planned to enter would have also been a valid SPDX. Other fields let me do this without any trouble, even if ther

[2019-05-06 19:34] #478 closed

[2019-05-06 19:34] #562 closed

[2019-05-06 20:00] #655 closed

[2019-05-07 07:21] storrisi commented on #329
@bduranc yes, what you are expecting is right. The problem were the license was not only a NOASSERTION value, but it was part of the license.
@dabutvin has improved the spdx validation including these cases and i'm gonna integrate his work in the website.

[2019-05-07 15:49] #657 closed

[2019-05-07 17:28] dabutvin opened #700 "add chart to status page to show 'recently processed by type'"
see corresponding issue on https://github.com/clearlydefined/service/issues/512

will need a chart added to https://github.com/clearlydefined/website/blob/master/src/components/Navigation/Pages/PageStatus/PageStatus.js (https://clearlydefined.io/status) to show the data

[2019-05-07 21:38] bduranc opened #701 "Suggestions not showing up in source location dialog"
**Issue Type:** Bug
**Issue Description:**

The functionality mentioned in #179 appears to be experiencing a major issue since the last major update to it sometime back in March or Apr.

When one clicks the source location field on a definition, this results in a pop-up window and various fields for the repo (at this moment: GitHub org/name, repo, and commit hash).

Normally, all of these fields s

[2019-05-07 22:10] iamwillbar opened #702 "Add ability to link to a list of versions of a component (or the latest)"
Sometimes we want to link people to information about a component rather than a specific version.

It would be good to be able to link to a list of harvested versions for a component or the latest known version of a component.

[2019-05-09 14:43] storrisi commented on #639
@jeffmcaffer do you remember which kind of problem did you faced during the integration? I'd love to update the version since i'm on the way to made some work about loading large payloads.

[2019-05-09 15:02] storrisi commented on #639
I've tried to update it and i'm not noticing any breaking change.
BTW we have some styling issues compared to what we have noiw that i'm going to fix.

![Schermata 2019-05-09 alle 16 59 39](https://user-images.githubusercontent.com/7654979/57463941-124c1d00-727c-11e9-8e11-007b0c176193.png)
![Schermata 2019-05-09 alle 16 59 48](https://user-images.githubusercontent.com/7654979/57463946-14ae7700-727

[2019-05-09 15:34] #701 closed

[2019-05-09 15:50] dabutvin commented on #639
while we are in here can we make sure we get collapsing/folding for the json?
https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.ieditorconstructionoptions.html#folding

[2019-05-09 15:51] storrisi commented on #639
@dabutvin sure!

[2019-05-09 16:39] dabutvin commented on #671
@storrisi that one is just handling this for suggestions.

If we do something more holistic with the mongo definition store, it will make that pr obsolete

[2019-05-09 17:16] dabutvin opened #705 "Move license suggestions into the spdx picker"
right now the suggestions are next to the license picker as an 'i'

![image](https://user-images.githubusercontent.com/5168796/57472665-e2ccee80-7242-11e9-87a5-09bed2eb28eb.png)

It would be great to add them to the top of the spdx picker when you open it instead.

Similar to how we separate the NONE/NOASSERTION in the filterbar, we can separate and label the suggestions.

[code]

(all and suggest

[2019-05-09 17:19] dabutvin opened #706 "group the tooltip for facets with the title"
![image](https://user-images.githubusercontent.com/5168796/57473071-d85f2480-7243-11e9-84eb-36922c2232c0.png)

The (i) is aligned with the second column, should be right against the word 'Facets'

[2019-05-09 17:19] storrisi commented on #705
Even if i agree with the solution, i'd like to notice that doing that we can loose some of the suggestions functionalities, like show where the suggestion comes from and why.
Also, the user wont be able to see the suggestion since he starts typing in the License field.
Thoughts?

[2019-05-09 17:27] dabutvin opened #707 "Multi-select is affecting only the top definitions"
from the workspace page
select a few definitions
change the license
the changes apply to the definitions in the top, not the ones selected
![2019-05-09 10 25 35](https://user-images.githubusercontent.com/5168796/57473571-f2e5cd80-7244-11e9-93ae-973e2678e305.gif)

[2019-05-09 17:31] dabutvin commented on #705
great points. I was mostly looking to free up some of the icons surrounding the license picker
revert + pencil + eyeball + (i)

it feels like too much.

I think we can ideally show the source of the suggestion in-line with the item
As for losing the suggestion once you start to type, backspacing could bring them back - I think that would work well

[2019-05-09 19:40] jeffmcaffer commented on #639
The were just challenges in getting the deployment working. Had to copy files around at build time etc. The was some fuss around syntax highlighting and content assist.

+1 to @dabutvin suggestion about folding. That would be a huge win.

[2019-05-10 13:18] storrisi commented on #639
@jeffmcaffer for the reason you mentioned i would suggest to eject the application from CRA. Things like this one could be addressed by working on the Webpack configuration rather than applying workarounds.

I hope to have the chance to discuss with you further more on this topic.

[2019-05-10 13:20] storrisi commented on #705
Got your point.
Probably we can involve into the discussion someone that actually use the application and can give a feedback from a user point view, like @bduranc for example.

[2019-05-10 17:45] #707 closed

[2019-05-10 18:11] bduranc commented on #705
@storrisi @dabutvin :

You've both brought up some very good points.

I agree about being conscious of excess clutter concentrated around key fields. I guess the question to ask ourselves for the UI is "how much is too much in one area?", i.e. is more than two buttons per field a problem. For myself at least, I feel the simpler we keep it the better.

Overall, the suggestion feature itself looks r

[2019-05-13 13:20] storrisi commented on #705
Well, i don't know if this is really possible. Since suggestions are taken from other version of the same definition, is there the possibility to have the same field with >5 different values during time?
BTW i agree, if the list becomes too long it would be difficult for the user to interact with.

It takes the same information from other version of the same definition that have been curated recen

[2019-05-13 13:23] storrisi commented on #702
@iamwillbar do you mean something like this? https://clearlydefined.io/?sort=releaseDate&sortDesc=true&name=electron

[2019-05-13 13:25] storrisi commented on #691
@fossygirl do you have any feedback?

[2019-05-13 13:26] storrisi commented on #689
@dabutvin do you have any feedback on this?

[2019-05-13 13:27] storrisi commented on #687
@fossygirl @dabutvin do you have any feedback on this?

[2019-05-13 13:28] storrisi commented on #683
We need to upgrade Monaco-Editor to work on this. I'm looking further while working on #639

[2019-05-13 13:32] storrisi commented on #599
Maybe Hotjar could be more useful than Google Analytics to understand this behaviors

[2019-05-13 14:18] storrisi commented on #639
folding property and syntax highlighting could be enabled only by customizing the Webpack plugin configuration:
https://github.com/Microsoft/monaco-editor-webpack-plugin#options

[2019-05-13 16:46] storrisi commented on #639
Following the issue https://github.com/Microsoft/monaco-editor/issues/82 there are different approaches proposed.

Someone injects the external Monaco Editor library instead using it as a dependency, but with that approach is not possible to customize options.

Other guys uses https://github.com/timarney/react-app-rewired , or https://github.com/harrysolovay/rescripts , that allows to override par

[2019-05-13 20:16] bduranc opened #709 "There are still things wrong with the file-level license declaration fields"
**Issue Type: Bug**

**Issue Description:**

I was trying to curate the license for a specific file on a component. Two strange things have happened when I try to do this:

Firstly, if you try to curate a file that already has an SPDX expression with multiple conjunctive / disjunctive operators (i.e SPDX _"Apache-2.0 **AND** GPL-1.0-or-later **AND** LGPL-2.0-or-later"_) and try to change to _"Apac

[2019-05-13 22:15] dabutvin opened #710 "Do not add continuationToken to the address bar on home page"
when scrolling through the list we should keep this parameter out of the address bar

![image](https://user-images.githubusercontent.com/5168796/57657949-df629b80-7591-11e9-96f3-351a9dbe636f.png)

We would not want to persist this value at any time

[2019-05-14 13:19] storrisi commented on #710
This seems to be the same error mentioned in #689

We are going to investigate on this problem on the service side.

Thanks.

[2019-05-14 13:22] storrisi commented on #709
This seems to be the same error mentioned in #689

We are going to investigate on this problem on the service side.

Thanks.

[2019-05-14 15:49] storrisi commented on #705
With all these considerations, are we able to take a decision on this topic? I'd be happy to implement the best solution that meets everyone's needs.

[2019-05-14 15:51] storrisi commented on #678
This is related to https://github.com/clearlydefined/service/issues/526

[2019-05-14 15:53] #706 closed

[2019-05-14 16:01] storrisi commented on #652
@bduranc i really love to go through of this.

In relationship to

Is there already a text that we can link? If not, who could be able to write it down?

[2019-05-14 21:09] bduranc commented on #652
@storrisi : I was originally thinking we provide a direct link to a "condensed" or "whitepaper" version of this same document: https://github.com/clearlydefined/license-score/blob/master/ClearlyLicensedMetrics.md

There is a lot of good detail in the document, albeit being very extensive. But the different sections are rather dependent on one-and-other, at least how currently written, so I'm not s

[2019-05-14 21:49] jeffmcaffer commented on #652
Awesome issue. Personally I like the second idea above of enhancing the existing section of the doc to include some more detail/info and facilitate the linking from the UI. The full doc can be linked from further from there. Lets keep it really simple for the normal user and make available the gory detail for those who need/want it.

[2019-05-15 14:13] storrisi commented on #652
I might try to improve the mentioned doc adding links to the elements in the table, and at the same time link the document in the UI inside the Score Renderer. What do you think?

[2019-05-15 14:57] storrisi commented on #652
I've opened https://github.com/clearlydefined/license-score/pull/10 to track the changes to the License doc. Probably @pombredanne is able to merge it?

[2019-05-16 16:01] #615 closed

[2019-05-17 16:09] storrisi commented on #683
This is fun because actually, while checking that link, the Harvest tab doesn't crash at all.

[2019-05-17 16:12] storrisi commented on #683
I see a different problem here instead: since the definition is pretty large, it takes a while to receive the details from the backend, maybe we should consider to add a loader to the FullDetailPage?

[2019-05-17 16:17] storrisi commented on #683
Attached a GIF related to the main problem rise by this issue:

![Screen Recording 2019-05-17 at 06 16 PM](https://user-images.githubusercontent.com/7654979/57941731-ff66c780-78cf-11e9-92f5-25bc5e863d3c.gif)

[2019-05-17 17:56] dabutvin commented on #683
Seems to be working for me now too. closing

[2019-05-17 17:56] #683 closed

[2019-05-18 00:34] ignacionr commented on #709
The first part of this is taken care of by https://github.com/clearlydefined/service/pull/530 ; second part (blank screen when using pencil) remains.

[2019-05-20 13:43] storrisi opened #718 "Add a Loader to Full Details View"
As mentioned in https://github.com/clearlydefined/website/issues/683 we need to add a Loader to the FullDetailsView while waiting to receive all the details of a definitions.

The user can't see anything when working a very large component, like https://clearlydefined.io/definitions/maven/mavencentral/com.amazonaws/aws-java-sdk-bundle/1.11.163

[2019-05-20 14:02] storrisi commented on #709
Blank screen problem has been fixed in https://github.com/clearlydefined/website/pull/695 , hence once the service implementation will be merged, we can consider this one as closed.

[2019-05-21 17:48] bduranc commented on #709
@storrisi I don't see either fixed in prod yet. I will assume this is because they have not been merged yet.

I'll keep my eyes open for when they are :)

[2019-05-21 17:53] #718 closed

[2019-05-21 17:54] storrisi commented on #687
As discussed in our weekly meeting, i've added in #632 an implementation to show notifications when the harvest process has been started / ended

[2019-05-21 20:21] royaljust opened #722 "Ability to curate files with same header information."
Some components use the same header on multiple files.

For example, RocksDB uses the following header on over 100 files.
// Copyright (c) 2011-present, Facebook, Inc.  All rights reserved.
//  This source code is licensed under both the GPLv2 (found in the
//  COPYING file in the root directory) and Apache 2.0 License
//  (found in the LICENSE.Apache file in the root directory).

Being able to gr

[2019-05-21 20:25] royaljust opened #723 "Add clearlydefined link in bot curations"
When the clearlydefined bot makes a curation having a link to the component in ClearlyDefined included in the PR would make review of the curation community faster.

[2019-05-21 22:03] #616 closed

[2019-05-21 22:08] #675 closed

[2019-05-21 22:21] #690 closed

[2019-05-21 22:27] #710 closed

[2019-05-22 08:22] storrisi commented on #722
Probably a combination of filter by License and multi-select on files would help?

[2019-05-22 08:24] storrisi commented on #705
@dabutvin @bduranc do you have any other feedback on this topic?

[2019-05-22 09:12] storrisi commented on #691
Here's a quick mockup of the change, just to make some thoughts about it:
![Screen Recording 2019-05-22 at 11 04 AM](https://user-images.githubusercontent.com/7654979/58162186-f6844600-7c81-11e9-8a2e-2db863c25dab.gif)

Some notes:
- Selecting a new version will open a new tab to the definition
- The ![Schermata 2019-05-22 alle 10 37 24](https://user-images.githubusercontent.com/7654979/58162219-11

[2019-05-22 13:50] royaljust commented on #722
Thanks @storrisi - I think that those features certainly would help curation, but we'd still need to verify that the text is the same for each file.

I understand from @pombredanne that the header data is being harvested, so we might be able to sort by header or apply curations across identical. I'd prefer to trust computers to determine whether 100+ header files are identical than a person :)

[2019-05-22 14:01] fossygirl commented on #691
@iamwillbar Your thoughts here?

[2019-05-22 17:08] bduranc commented on #705
@storrisi: Overall, I really like the proposal.

I still think it should be in the license picker dialog as this is where the user makes their selection, but the blue "i" button next to the field as originally proposed is a good start. Furthermore, if the "i" button is what we have already done for other recommendation fields, then we should keep it consistent overall.

[2019-05-22 17:38] dabutvin commented on #705
I like the suggestion of putting suggestions in the popups 👍
I still feel like we should remove the blu "i" to reduce the amount of clutter in the UI and instead prepend the suggestions to the top of the list when choosing inline

[2019-05-23 19:17] bduranc commented on #709
@storrisi : More weird behavior: When I add a source location, it now modifies the license field too.

Please see following component: https://clearlydefined.io/definitions/pypi/pypi/-/Unidecode/1.0.23

I go to the Source Location box and enter the following: user/org = "avian2", repo = "unidecode", commit/version = "unidecode-1.0.23". I enter in the text and then select the drop-down recommendati

[2019-05-23 19:20] storrisi commented on #709
Thank for addressing this.
Unfortunately those data are returned from the backend so we should investigate what happens there. I suggest @ignacior to take a look soon.

[2019-05-24 08:14] ignacionr commented on #709
This should be resolved by incorporating @dabutvin comment here https://github.com/clearlydefined/service/pull/530#discussion_r286164619 ; I am working on it.

[2019-05-24 10:46] royaljust commented on #709
There is also still an issue with flipping ANDs to ORs on the UI -- it can't be done. Not sure if the above solves it and we're just waiting for it to be merged into production, but I thought I'd call it out just in case.

1. License detects BSD-3-Clause AND GPL-2.0.
![image](https://user-images.githubusercontent.com/36014796/58322375-c7d7ae00-7dee-11e9-99f7-e5aeba9507f1.png)

2. User tries to cha

[2019-05-24 13:05] storrisi commented on #709
@royaljust probably the problem that you mentioned is a website issue. Will check. Thanks.

[2019-05-24 13:56] storrisi commented on #709
I can confirm that the website sends to the service the correct information with the proper conjunction "OR" or "AND", but the returned data doesn't contain the change.
I guess that the implementation in https://github.com/clearlydefined/service/pull/530#discussion_r286164619 will fix also this problem.

@ignacionr could you confirm this?

[2019-05-28 20:32] dabutvin opened #728 "Add support for fossa input to workspace page"
similar to how you can drag and drop a package-lock.json file, this issue is for dragging and dropping a fossa analyze output onto the workspace.

the schema looks like:

[code]

An initial implementation could just pull all the 'locator' properties and build them into coordinates.

`<type>+<name>$<revision>`
or
`<type>+<namespace>/<name>$<revision>`

[2019-05-29 22:14] #651 closed

[2019-05-30 11:27] royaljust commented on #651
Thanks!

[2019-05-30 19:56] dabutvin commented on #709
this is now fixed in production. Please verify and open a new issue if there are further problems.

Regarding the license changing when you edit the source. This is a result of using a new algorithm to simplify the declared license expression and should be fine to submit with your curation.

[2019-05-30 19:56] #709 closed

[2019-05-31 13:06] storrisi commented on #723
So, for example: https://github.com/clearlydefined/curated-data/pull/1855

Are you suggesting to add a direct link to every element shown in the list of "Affected definitions:" ?

By the way, this is something that needs to be done in the service side of things.

[2019-05-31 13:10] storrisi commented on #722
@dabutvin i could be wrong but the service is not currently sending an "header" field for each file. Could you confirm it?

[2019-05-31 13:30] storrisi commented on #702
@iamwillbar is the link above covering your request?

[2019-05-31 13:32] storrisi commented on #691
@fossygirl @iamwillbar  i'll be very happy to work and bring this in place. Do you have any feedback for my questions above?

[2019-05-31 13:37] storrisi commented on #678
Since this has been fixed by clearlydefined/service#526 , we can close this one.

[2019-05-31 13:37] #678 closed

[2019-05-31 13:41] storrisi commented on #648
@dabutvin should we make some fixes on the service to solve this one?

[2019-05-31 14:10] storrisi commented on #595
Since this has been implemented, we can close it.

[2019-05-31 14:10] #595 closed

[2019-05-31 14:17] storrisi commented on #352
I'm wondering if we still need other tooltips over the UI. We now have a better explanation of facets and scores.
@bduranc thoughts?

[2019-05-31 14:59] dabutvin commented on #722
that's right, but we may be able to pull that data out from the scancode results

[2019-05-31 16:55] bduranc commented on #352
@storrisi: I think with the recent addition of the tooltip for Facets (dealt with in #478), there are no other major areas requiring this enhancement.

I agree with @jeffmcaffer said earlier in this issue about over cluttering the UI with too many tool tips and how a bombardment of onHover events can make for a poor user experience.

We can probably close this issue if no one else objects.

[2019-05-31 18:12] #617 closed

[2019-06-03 14:00] storrisi commented on #722
If we consider this implementation really useful, we can address the right implementation on the service and then do the same on the website. Thoughts?

[2019-06-03 17:23] #692 closed

[2019-06-04 15:37] storrisi commented on #702
@iamwillbar do you have any update on this?

[2019-06-04 16:55] iamwillbar opened #733 "Add button to visit package manager on definition page"
It's not very discoverable that clicking the title of the package on the definition page will take you to the package manager page for that component. Can we add a button next to the title next to the new copy URL button that takes you to the same location as clicking the title?

[2019-06-04 16:56] iamwillbar commented on #702
That's exactly what I need, thanks!

[2019-06-04 16:56] #702 closed

[2019-06-04 16:59] iamwillbar commented on #691
I think having an action occur when you select something from a dropdown isn't great for usability/accessibility. What if we had a button that links you to search results for that particular component?

[2019-06-04 22:29] bduranc opened #734 "Problems with definition multiselect"
Referencing: #169

Issue Type: Bug
Issue Description:

I tried to edit the one of the definitions in my Worklist. Once satisfied with my improvements, I selected the definition (checkbox) in the Workspace, and clicked the green "Contribute" button.

When the Contribution dialog box came up, I entered in my commit notes and tried to submit the form. Unfortunately, as soon as the dialog closed, I go

[2019-06-05 12:50] storrisi commented on #734
I'm not able to reproduce it in dev environment. I've done the same process that you described but it ended with a successful contribution.

Are you able to reproduce it on dev and give me further details (like the contributed definition)?

Thanks!

[2019-06-05 12:57] storrisi opened #778 "Attribute contribution commits to the contributor"
See: https://github.com/clearlydefined/curated-data/pull/1864/commits

Even if the PR has been opened by a contributor, commits result to be attributed to clearlydefinedbot.

We want to attribute also the commits to the owner of the PR.

[2019-06-05 19:42] AE49 commented on #346
I received the above error when I tried to contribute the following components:

https://clearlydefined.io/definitions/git/github/abrkn/semaphore.js/4b7471c5efc348b3279621e58e0b47b55ac60040

https://clearlydefined.io/definitions/git/github/go-logfmt/logfmt/d4327190ff838312623b09bfeb50d7c93c8d9c1d

https://clearlydefined.io/definitions/git/github/go-stack/stack/100eb0c0a9c5b306ca2fb4f165df21d80ada4

[2019-06-05 19:44] fossygirl commented on #346
@geneh

[2019-06-06 15:25] #705 closed

[2019-06-06 15:28] #624 closed

[2019-06-06 15:57] storrisi commented on #346
@AE49 may i ask you what was the content of the contribution? I would like to reproduce it on our dev environment. Thanks!

[2019-06-06 16:03] AE49 commented on #346
@storrisi Hi, I was adding MIT as the Declared License, and when I hit contribute I get the error.

[2019-06-06 16:04] storrisi commented on #691
@iamwillbar do you suggest a modal like the one you have in the definition list when you are trying to change the version of an existing component, or maybe a direct link to the browse page, like [this one](https://clearlydefined.io/?type=npm&sort=releaseDate&sortDesc=true&name=async) ?

[2019-06-06 16:07] storrisi commented on #346
@AE49 thanks for clarifying it. I will check.

[2019-06-06 16:10] iamwillbar commented on #691
I was thinking a direct link to the browse page.

[2019-06-06 16:12] storrisi commented on #691
@iamwillbar , the example above is a search with the same provider and package name. It could be very simple to add this in the detail page.

[2019-06-06 18:45] bduranc commented on #734
@storrisi : For some reason I am unable to recreate it in dev either. Tried three times.

The components I experienced this issue are as follows:

git/github/stuk/jszip@265c959b1f15f8cd5ebe152154b88796e4a82f42
(https://clearlydefined.io/definitions/git/github/stuk/jszip/265c959b1f15f8cd5ebe152154b88796e4a82f42)

npm/npmjs/jszip@3.2.0
(https://clearlydefined.io/definitions/npm/npmjs/-/jszip/3.2.0)

[2019-06-06 19:05] ariel11 opened #739 ""Failed contribution""
I updated the "Declared" license for https://clearlydefined.io/definitions/npm/npmjs/webcomponents/url/0.7.3 to SAX-PD, selected "Contribute," completed the form and clicked OK.  I then received a "Failed contribution" message.

[2019-06-06 20:15] ariel11 opened #740 "Declared license not showing in Workspace"
If I find this package - nuget/nuget/-/System.Management.Automation/6.1.7601.17515 - in the Workspace, the Declared license field is blank.  However, if you dig into the definition, it says it is curated and shows MIT.  I assume this information is meant to show up in the Workspace view..

[2019-06-06 20:17] fossygirl commented on #671
@storrisi Can you confirm if the service PR that got merged fixed this, or if there's more work needed on the website?

[2019-06-06 20:36] fossygirl commented on #740
@storrisi Can you please take a look at this?

[2019-06-06 20:50] fossygirl commented on #739
@storrisi Can you please look into this?

[2019-06-07 07:47] storrisi commented on #739
Probably it's throwing an error because the component is not yet harvested?

This is what the service says in this case : `message: "The contribution has failed because some of the supplied component definitions do not exist"`

[2019-06-07 07:51] storrisi commented on #740
I've tried to search the same component but everything looks fine:

![Screen Recording 2019-06-07 at 09 49 AM](https://user-images.githubusercontent.com/7654979/59089158-b96ab580-8909-11e9-8173-3f50186fb379.gif)

[2019-06-07 08:15] #352 closed

[2019-06-07 14:32] storrisi commented on #671
@fossygirl unfortunately it doesn't. We should handle the case of sorting components without a Release Date.
BTW no further work is required from the website on this topic.
We can close this and keep track of the same thing on the service.

[2019-06-07 16:01] #671 closed

[2019-06-07 16:44] royaljust opened #741 "UI is not displaying license information"
When I go to [this link](https://clearlydefined.io/definitions/git/github/ms-iot/edk2/8594c2073cdb1065e60f01e9b099918c5e839212), I get no license information.

![image](https://user-images.githubusercontent.com/36014796/59119836-b0c5af80-8908-11e9-9e05-020cd7a6ce2b.png)

Then, only after I click to curate the declared license, all the license information appears.

![image](https://user-images.gith

[2019-06-07 16:57] fossygirl commented on #740
@ariel11 Can you please send us a screenshot of the behavior you're seeing?

[2019-06-07 16:59] fossygirl commented on #739
How can we be doing curations for components that aren't harvested? Users shouldn't be able to make a curation on a component that doesn't exist.

[2019-06-07 17:19] royaljust commented on #741
Further, in [this](https://clearlydefined.io/definitions/nuget/nuget/-/WindowsAzure.Storage/8.0.0) instance, the curated [declared license is Apachev2](https://clearlydefined.io/curations/1736), but the shown declared license is MIT.

[2019-06-07 18:31] pombredanne commented on #741
There is some issue alright. The ScanCode scans are present, but the tools listed in the UI seem to show scancode is missing. The scores are wrong too. So the data and the UI seem  completely out if sync

[2019-06-07 19:37] storrisi commented on #741
In the first example, actually the service is returning some files without a license:

<img width="628" alt="Schermata 2019-06-07 alle 21 26 31" src="https://user-images.githubusercontent.com/7654979/59128693-1480c480-896b-11e9-9d7d-ee92752c412e.png">

In the second one, as well, the UI is showing what the service is returning:

<img width="212" alt="Schermata 2019-06-07 alle 21 28 10" src="https:

[2019-06-07 22:13] bduranc commented on #734
Caught another instance of this bug again, but this time got some screenshots.

I encountered it again with the two below definitions in my work list:

1. https://clearlydefined.io/definitions/git/github/tommyjones/textminer/7ced28c7df42b53599c2467a31d682b6ab146755

2. https://clearlydefined.io/definitions/git/github/tommyjones/textminer/1ec38621a2ee9193f6627973a04b70cf512c2daa

I curated the top-

[2019-06-08 00:14] bduranc opened #742 "[Feature request] Implement harvest status indicator"
It is difficult for the average user to know when a component has completely finished being harvested.

What are the ideal combination of indicators to show a component has been harvested 100% (i.e. component crawled, all scanner tools run to complete) without any question?

**1. Is it when we see the definition listed in the Workspace search field?**

<img width="803" alt="2019-06-07_16-56-00" sr

[2019-06-08 00:15] bduranc commented on #734
Referencing #739

[2019-06-10 12:43] storrisi commented on #739
@fossygirl good point. Probably we should disable any Contribution activities for these kind of components?

[2019-06-10 12:45] fossygirl commented on #739
Yes, please.

[2019-06-10 12:51] storrisi commented on #734
Thanks @bduranc , i'm going through all of the problems faced here.

[2019-06-10 16:53] #739 closed

[2019-06-10 17:38] #734 closed

[2019-06-10 18:28] royaljust opened #746 "Add link to curate source within component definition page"
It would be useful to link to the CD source definitions from the definitions page of a given package component.  Right now we have that capability from the "workspace" page:

![image](https://user-images.githubusercontent.com/36014796/59217416-e5956900-8b8b-11e9-95ff-b5d89c7cd46a.png)

Having on the component definition page (i.e.: [this](https://clearlydefined.io/definitions/npm/npmjs/-/graceful-

[2019-06-11 15:40] storrisi commented on #346
I'm sorry, but i'm still unable to reproduce this problem.
I've tried different approaches:
- from the workspace list
- from the detail page

The results is the same: every time i change something and hit Contribute, the Contribute Modal prompts correctly.

Maybe a screenshot when the error happens would help.

[2019-06-11 15:45] AE49 commented on #346
@storrisi thanks for checking. The first one is now showing as curated and the other two as pending so perhaps there's no issue to resolve. We can close this for now.

[2019-06-11 15:46] #346 closed

[2019-06-11 22:52] joseharriaga opened #748 "Submitting a contribution shows "Failed Contribution" for a few components without any explanation"
This happened for the following four components. I'm also including the information I attempted to contribute.

•	**nuget/nuget/-/PInvoke.BCrypt/0.5.184**
https://www.nuget.org/packages/PInvoke.BCrypt/0.5.184
Source:
https://github.com/AArnott/pinvoke/tree/cf0176c42bc63ddb8622f60c9fbd7176e7757bd3
MIT License:
Copyright (c) 2018 All contributors
https://github.com/AArnott/pinvoke/blob/cf0176c42bc63

[2019-06-11 23:24] geneh commented on #748
This issue has been resolved.

[2019-06-11 23:24] #748 closed

[2019-06-12 14:24] storrisi commented on #691
While start working on this, i felt to have too much buttons near the component title.
We recently added both Copy Url and Curate Source button.
So maybe group them in a dropdown could save some space.

@iamwillbar @fossygirl thoughts?

![Screen Recording 2019-06-12 at 04 23 PM](https://user-images.githubusercontent.com/7654979/59359312-67bd9300-8d2e-11e9-8e32-1e4babd7c143.gif)

[2019-06-12 14:36] storrisi commented on #733
As mentioned in #691 we are starting to have too many buttons in that position.
In #691 and here we are discussing about adding 2 more buttons, so we'll have a total amount of 4 actions near the title.
I would strongly suggest to consider a dropdown menu.

[2019-06-12 14:41] storrisi commented on #742
These are all great points @bduranc .
I don't know if we are really able to show a percentage of harvesting, but we can add a "Pending Harvest" for sure.

@geneh @iamwillbar which should be the conditions that we should check to consider a component in that status?

[2019-06-12 16:08] #746 closed

[2019-06-12 16:15] fossygirl commented on #691
@storrisi I think that's a good addition. @iamwillbar thoughts?

[2019-06-12 16:21] iamwillbar commented on #691
Looks good to me.

[2019-06-12 18:00] geneh commented on #742
There is no notion of all tools since some tools may be temporarily or permanently disabled, new tools may be added and some tools may fail. Once at least one tool had run, a component may be considered as partially or fully harvested.

[2019-06-12 21:38] iamwillbar commented on #742
@fossygirl and I were discussing this earlier and think it would be a good topic for the weekly meeting to get broader feedback on the scenarios.

[2019-06-13 00:58] bduranc commented on #742
@iamwillbar : I have no objection.

[2019-06-13 10:54] storrisi commented on #691
Thanks, i will proceed on this direction then.

[2019-06-14 15:09] #691 closed

[2019-06-14 16:55] iamwillbar opened #752 "Dropdown on definition page gets cut off with longer package names"
The dropdown at the top next to the package name gets truncated if the package has a longer name:
![image](https://user-images.githubusercontent.com/3266447/59525125-630df180-8e8a-11e9-936e-f42291e02f79.png)

[2019-06-14 20:40] iamwillbar opened #753 "4th version part of NuGet being dropped off in Workspace list"
If you add the component AWSSDK.Core 3.3.101.1 to the workspace it is listed as 3.3.101. This could be ambiguous if you added multiple versions that only differed by the fourth part.

[2019-06-17 19:16] ariel11 opened #754 "Highlight what triggered NOASSERTION"
For files within a component that are marked as NOASSERTION, highlight in the file what the tooling thinks may be license info.  Otherwise, I am scanning some really long files trying to find why the tooling thought maybe there was license info on that file.

[2019-06-17 19:19] ariel11 opened #755 "Add links to the PR at the file level"
I am looking at a PR where the curator updated a bunch of files within the same component.  It would be helpful if _each_ changed file linked to that file in ClearlyDefined.

[2019-06-17 19:22] ariel11 commented on #742
@iamwillbar - I have received "failed contribution" errors when trying to curate the declared license for components that weren't fully harvested.  Would be helpful to know/see if a component is not ready for curations.

[2019-06-17 19:25] ariel11 commented on #740
![image](https://user-images.githubusercontent.com/17935946/59630739-f2214080-90fa-11e9-9422-40677ab85f3f.png)

[2019-06-17 19:27] ariel11 commented on #740
@fossygirl and @storrisi - sure, above is the screenshot of the component in the Workspace where it looks like no license has been declared (but if you click the magnifying glass, you see MIT).

[2019-06-17 22:21] joseharriaga opened #756 "Some curations submitted via the website are marked as invalid"
I submitted a few curations via clearlydefined.io that were marked as "invalid curations" by the PR bot. There's no explanation as to why they are invalid or how I can resolve them. Is there something I'm doing wrong? Here's the curations I'm referring to:

Microsoft.IdentityModel.Clients.ActiveDirectory/4.5.0
https://github.com/clearlydefined/curated-data/pull/2034

Microsoft.IdentityModel.Client

[2019-06-18 00:13] bduranc opened #757 "Not all tools are running on recently harvested components"
The following components were harvested last week (June 13), but as of today (June 17) only one tool (Licensee) has run on each:

https://clearlydefined.io/definitions/git/github/johanvos/openjdk-mobile11/19fb8f93c59dfd791f62d41f332db9e306bc1422

https://clearlydefined.io/definitions/git/github/jasminb/jsonapi-converter/197dc733d294a0fb7f346f7c72755b46d779bef6

[2019-06-18 08:20] storrisi commented on #755
@ariel11 could you please share the PR so i can take a look at it? Thanks!

[2019-06-18 08:30] storrisi commented on #740
@ariel11 i've made the same test on a clean browser session without any cache, works fine for me now:

![Screen Recording 2019-06-18 at 10 29 AM](https://user-images.githubusercontent.com/7654979/59665893-11c86f80-91b4-11e9-8421-a46c14a53b0a.gif)

[2019-06-18 08:48] storrisi commented on #756
@geneh do you mind to take a look to this? Thanks!

[2019-06-18 08:54] storrisi commented on #757
Looks like this is a service issue, i'm going to move this on the service repo, so @geneh or @ignacionr could check what's going on.

[2019-06-18 15:04] ariel11 commented on #755
@storrisi - Sure - https://github.com/clearlydefined/curated-data/pull/1843/files.  If these files directly linked to the file in ClearyDefined, I could  much more easily review why the person curated "None," "Other," or "MIT."  Otherwise, I am navigating to ClearlyDefined and expanding folders to find the files.

[2019-06-18 17:00] #733 closed

[2019-06-18 20:50] geneh commented on #752
It is still happening for components with longer names and Pending curations label, for example https://clearlydefined.io/definitions/nuget/nuget/-/StackExchange.Redis.StrongName/1.2.6/1.2.6
![Screen Shot 2019-06-18 at 1 49 58 PM](https://user-images.githubusercontent.com/1537662/59718908-fff4c580-91cf-11e9-8dc8-4b0fb34f5d7a.png)

[2019-06-19 14:24] storrisi commented on #755
The content of the files section is a Patch, i'm not 100% sure that we can do something there.
Probably we should take any affected file in the curation and list them separately in the PR description.
@geneh @iamwillbar do you have any suggestions?

[2019-06-19 16:05] #753 closed

[2019-06-19 16:23] #752 closed

[2019-06-20 09:33] pombredanne opened #764 "Dead link to files"
In https://clearlydefined.io/definitions/nuget/nuget/-/Moq/4.10.1/4.10.1 the Files listed have a link that goes 404.
For instance Moq.nuspec has a link to https://clearlydefined.io/file/5348e9361ed572304b1c84561461f9adb1151443d1b7d9d283f80a2a480ed0a8

It would be best to avoid providing such a link (in this case the link may never be possible since there is direct way to get to the file: you need

[2019-06-20 14:11] storrisi commented on #764
Actually this is an expected behavior. See https://github.com/clearlydefined/website/pull/659#discussion_r276390974

[2019-06-21 22:44] bduranc opened #766 "Accessing specific component definition is really slow"
The following component takes around 2 min to load for me, clean-slate.

https://clearlydefined.io/definitions/git/github/johanvos/openjdk-mobile11/19fb8f93c59dfd791f62d41f332db9e306bc1422

It loads in Firefox 67.0.1 (64-bit) but with extreme performance issues and very high resource utilization.

It intermittently loads in Chrome 74.0.3729.169 (64-Bit), almost always first resulting in a white bl

[2019-06-21 23:12] geneh opened #767 "Add website support for Debian package & source"
Add website changes required for supporting Debian package & source.
More details can be found at https://github.com/clearlydefined/crawler/issues/321.

[2019-06-21 23:16] geneh commented on #766
This component is huge. clearlydefined JSON blob is 13.9 MB, so that' expected.

[2019-06-21 23:37] bduranc commented on #766
Ah makes sense. Thank you. I think this is the first time I've encountered such a case.

So I suppose we just let this component run it's course then. I will close the ticket if there is no further investigation required.

[2019-06-24 15:56] ariel11 opened #768 "Affected definitions open in new window"
On the Conversation tab, it is awesome to have the Affected definitions link directly to the component in ClearlyDefined.  It would be great though, if clicking on that link opened a new window.  Otherwise, I am back paging to get back to the PR.

[2019-06-24 17:36] ariel11 commented on #755
@storrisi (@fossygirl FYI) - providing a link to *each* file (or field) changed (presumably on the "Conversation" tab), would also be a helpful way to quicly see all the files/fields that were changed besides looking at the diff file.

[2019-06-25 19:45] storrisi commented on #754
@ariel11 I think that your requirement is covered by the Suggestions behavior. In that case, the UI shows the same value for each field that has been curated in other versions of the same component.

Otherwise, i don't know a way that the tool could use to provide some suggested values.

Thoughts?

[2019-06-25 19:49] storrisi commented on #740
@ariel11 are you still able to reproduce this problem?

[2019-06-25 23:00] #728 closed

[2019-06-26 16:21] peggymoloney opened #771 "Missing curated data, possible bug"
May have found a bug - Declared license field blank https://clearlydefined.io/definitions/nuget/nuget/-/WindowsAzure.Storage/2.1.0

Curated here (https://clearlydefined.io/curations/1192)

![image](https://user-images.githubusercontent.com/29741356/60197109-9f7b0f00-97f3-11e9-929f-79fff529ec67.png)

[2019-06-26 16:42] fossygirl commented on #771
@storrisi

[2019-06-26 19:46] storrisi commented on #771
@peggymoloney thanks for the catch.

Looks like the service is returning NOASSERTION instead of the curated License which should be Apache-2.0

Moving on the service side so @ignacionr or @geneh could take a look at this.

[2019-06-28 02:48] ariel11 opened #773 "Copyrights not highlighted on curations page"
The copyrights curated as shown here - https://github.com/clearlydefined/curated-data/pull/1858/files - are not highlighted on the curations page (just the license changes) - https://clearlydefined.io/curations/1858.

[2019-06-28 02:50] ariel11 commented on #773
Here is a screenshot showing how the license change is highlighted but not the copyright -
![image](https://user-images.githubusercontent.com/17935946/60313644-c4b36e80-9914-11e9-9647-0c407c27c969.png)

[2019-06-28 02:55] ariel11 commented on #740
@storrisi - I don't know why our views are different, but yes - it still isn't showing the Declared license in this view for me for this one NuGet.  I do see above how it looks right on your machine.
![image](https://user-images.githubusercontent.com/17935946/60313845-72bf1880-9915-11e9-845e-4e12fdd8f564.png)

[2019-06-28 02:57] ariel11 commented on #740
@storrisi - In my view, I see a red 15 and in your review a red 30?  It appears we are somehow getting different info??

[2019-06-28 03:12] ariel11 commented on #754
@storrisi - I am not sure if we are talking about the same thing.  For example, if you go to pytest-pycharm/fc38a5207039ef0cf193e9925a5ca8c1e28d1abf, you will see files that say "NOASSERTION" (like the setup.py file).  It would be awesome to have surfaced somehow what the scanners caught on that file that made it flag it as NOASSERTION. For the setup.py file, for example, I see on row 24 and row 3

[2019-06-28 03:13] ariel11 commented on #754
@royaljust as FYI

[2019-06-28 03:27] ariel11 commented on #648
@storrisi - this appears to be fixed! :) It doenst appear to be case-sensitive anymore..
![image](https://user-images.githubusercontent.com/17935946/60315067-dfd4ad00-9919-11e9-90fa-c49a69782477.png)

[2019-06-28 04:09] #648 closed

[2019-07-01 13:30] storrisi commented on #764
@fossygirl @geneh @iamwillbar should we change the current behavior like @pombredanne suggested?

[2019-07-01 15:18] #764 closed

[2019-07-01 19:57] fossygirl opened #774 "Show a bar graph on /status page for tools"
Would be nice to add a bar graph on clearlydefined.io/stats that shows the number of tools that have been run each day.

@iamwillbar

[2019-07-02 16:38] storrisi commented on #773
I'm unable to reproduce it, the call to https://api.clearlydefined.io/curations/pr/1858 returns an empty `changes` value

[2019-07-03 12:16] storrisi commented on #766
@bduranc i think we can close this one.

[2019-07-03 15:08] storrisi commented on #773
Finally i was able to reproduce it and to find a solution. Thanks @ariel11 for the catch!

[2019-07-03 15:51] bduranc commented on #766
@storrisi

Agreed

[2019-07-03 15:51] #766 closed

[2019-07-04 00:39] bduranc commented on #754
+1 to @ariel11's suggestion

[2019-07-04 14:02] storrisi commented on #774
Do we have already a service endpoint that returns all the data?

[2019-07-04 14:58] ignacionr commented on #774
We don't at the moment; we could add that to either https://api.clearlydefined.io/stats or https://api.clearlydefined.io/status (the latter currently holding more similar info).

[2019-07-04 15:12] storrisi commented on #774
I think the second is the most appropriated one, since in the https://clearlydefined.io/status page we are already showing similar data.

@fossygirl do you agree?

[2019-07-05 19:06] fossygirl commented on #774
Yes, agreed.

[2019-07-09 16:55] AE49 opened #779 "Contribution ERROR: Source location must be an object"
I need to curate these NPM packages for a NOTICE. I'm receiving the following error when I hit contribute for the Clearly Defined curation:

**Contribution ERROR: Source location must be an object**

o	npm/npmjs/-/amdefine/0.1.0
o	npm/npmjs/-/base64id/0.1.0
o	npm/npmjs/-/benchmark/1.0.0
o	npm/npmjs/-/engine.io-client/1.5.4
o	npm/npmjs/-/engine.io/1.5.1
o	npm/npmjs/-/ms/0.6.2

[2019-07-09 17:00] fossygirl commented on #779
@ignacionr @storrisi

[2019-07-09 17:06] ignacionr commented on #779
Could you share steps to reproduce? Does it happen if you take only one package (let's say npm/npmjs/-/amdefine/0.1.0) and make one curation? (The field being edited would also help if you can share it, as well as the value that you're changing it to.)

[2019-07-09 17:50] ariel11 commented on #779
@AE49 - I have *no idea* why this would work, but I have received this error too and gone back and tried curating again selecting a different option from the first drop-down menu on the Contribute window and had it go through.

[2019-07-09 18:15] AE49 commented on #779
@ignacionr Hi, I'm doing the same steps each time regardless of package type, and I am curating each of these components listed in my issue individually. This error is showing today for NPM packages only. Steps: I select "Incomplete" in the first drop down, add Declared License in the title, Add MIT for subject and a link for resolution. When I hit "Contribute" the error message shows up.

[2019-07-09 18:19] AE49 commented on #779
@ariel11 thanks. I have experienced the same - where I might get an error one day or I can't hit the contribute button and if I try again another day the issue is no longer there. I have had this particular error before. If they can get to the cause perhaps they can fix instead of a workaround.

[2019-07-10 01:23] ignacionr commented on #779
@AE49 maybe we can set up a Discord screen share session so you can show me how this comes up? I have done some testing and couldn't reproduce the issue you see. Your help is much appreciated.

[2019-07-10 16:04] AE49 commented on #779
@ignacionr Sure, when's good for you? I'm free at 9:30 or after 11.

[2019-07-10 16:39] ariel11 commented on #779
@ignacionr and @AE49 - I just took a look and could submit successfully if I just searched for the component in the Workspace and did not dig into the definition (https://github.com/clearlydefined/curated-data/pull/2202 and https://github.com/clearlydefined/curated-data/pull/2201.  However, if I clicked on the magnifying glass and then tried to contribute, I got the source error.

[2019-07-11 01:24] ignacionr commented on #779
@ariel11 is this repeatable every time (have you been able to reproduce the issue more than once)?
It’s very interesting.

[2019-07-11 12:58] AE49 commented on #779
@ignacionr @ariel11 I was able to curate the remaining components today, with exception of one. I didn't do anything different except select "Missing" today instead of "Incomplete". This component is the last one showing no source object and will not allow me to contribute - https://clearlydefined.io/definitions/npm/npmjs/-/ms/0.6.2.

[2019-07-11 15:11] ignacionr commented on #779
@ariel11 and @AE49 is this still a problem? I went on and created https://github.com/clearlydefined/curated-data/pull/2209 from the website, but I'm not sure this is exactly what you wanted, and there weren't any noticeable hiccups; sorry I wasn't able to reproduce the issue.

[2019-07-11 16:52] storrisi commented on #687
Since this requirement has been covered in #632 , we can close this one.

[2019-07-17 17:28] #773 closed

[2019-07-17 20:14] #511 closed

[2019-07-18 20:26] ariel11 opened #783 "Packages in Preview not being cued for harvesting"
These two packages are not being queued for harvesting.  @geneh identified the issue as "As for the packages below, these are preview versions, so these versions are not displayed in https://clearlydefined.io/harvest page when trying to pick a version."

https://www.nuget.org/packages/Microsoft.NETCore.Platforms

https://clearlydefined.io/definitions/nuget/nuget/-/microsoft.powershell.native/7.0.0

[2019-07-18 20:39] storrisi commented on #783
Sorry @ariel11 , i don't get what is the issue on the website here. Maybe an extended explanation of the problem would help. Thanks!

[2019-07-18 20:53] geneh commented on #783
The specific versions are nuget/nuget/-/Microsoft.PowerShell.Native/7.0.0-preview.1 and nuget/nuget/-/Microsoft.NETCore.Platforms/3.0.0-preview5.19224.8

I assume the user has tried to harvest these components from https://clearlydefined.io/harvest but the preview options do not show up. I wonder if it's by design. If so, should we be fetching all the versions here including the preview ones.

[2019-07-18 23:39] geneh commented on #783
It looks like the packages have been harvested using /harvest API:
[code]
It seems like the crawler has ignored these package versions possibly due to preview version. Moving this work item to crawler to investigate.

[2019-07-19 15:06] storrisi commented on #742
We discussed in the 17th June meeting to insert an idea of component “state”: Just harvested, currently running tools, nothing queued.
@geneh do we have a strategy here?

[2019-07-19 15:09] storrisi commented on #740
Yes, it looks like.
Do you still see the same info?
I've checked right now and I'm still seeing a 30 score.

[2019-07-19 16:55] geneh commented on #742
As I've stated before, it's impossible to know whether all the tools have run since a tool may be disabled (e.g.fossology), or simply failing (e.g. scancode for huge components).
How about the following states?

If there are no tools: Not harvested
Only clearlydefined tool: Pending harvesting
More than one tool: Partially/fully harvested

I'm not sure if it adds any value though.

[2019-07-19 17:24] #778 closed

[2019-07-19 19:12] bduranc commented on #742
@geneh : I think this would be a step in the right direction.

However, I don't think we want to advertise a component as being "fully" scanned when the full suite of tools available at that point in time have not run on it yet. I suppose no component can be "fully" scanned as new tools could be added and current ones removed. But we should at least know all tools available to us at the time of a

[2019-07-19 22:42] #677 closed

[2019-07-19 22:56] bduranc commented on #652
@storrisi @pombredanne : Do you think we can close this PR? I think all that remains are alignments to be made in the doc itself. The issue you created under license-score appears to address this.

Thanks.

[2019-07-19 23:42] bduranc opened #787 "[Feature request] Improved transparency of managed dependencies (Maven, NPM, etc.) and their licenses."
Issue Type: Feature Request / Improvement to existing feature

**Business Case:**
Dependencies have license terms that can affect the core licensing position of a project, or simply be “license incompatible” to the component’s declared license. The most obvious example being a permissively licensed component having a GPL dependency.

Therefore, it is important to make license information of manage

[2019-07-22 23:19] bduranc commented on #787
I should add that the intended modality of the data here is for it to be read-only. I.e. people do not curate the package dependencies. The data results from whatever package management systems / files are available. If the data is not available, then we perhaps display a generic message in it's place "No dependency data is available for this component."

Someone also mentioned on our call today a

[2019-07-23 16:58] ignacionr commented on #779
This was resolved by using a tool. Please re-open if necessary.

[2019-07-23 16:58] #779 closed

[2019-07-24 13:10] #652 closed

[2019-07-24 13:13] storrisi commented on #742
@geneh @bduranc perhaps we can help the user to understand the situation by matching all the available tools with all the effective ran on a single component.

For example: if the service could return a list of all available tools that could run, with a specific endpoint, then the UI could match which ones have run for a specific component, and tell if the component has been harvested or not, if p

[2019-07-24 16:51] bduranc commented on #742
Ah, so we would not be limited to matching tool versions at a specific point in time, but basically matching a definition to the latest available tools. So does this mean we'd run this as a check at a routine frequency?

This could be a good starting point. But would this lead to any actionable outcome? Like could someone re-run the scan with the latest tools if they see there are gaps?

Either wa

[2019-07-24 16:56] #700 closed

[2019-07-24 17:31] geneh commented on #742
What if the tool set changes? In this case many components are going to have incorrect status when trying to match all the tools. If a time dimension were added here, i.e. which tools were available at a certain point in time, the implementation would become too complicated.
What if a tool fails because there is not enough memory and it will keep on failing even if attempting to re-harvest?
Even i

[2019-07-24 23:35] AE49 commented on #779
@fossygirl @ignacionr @geneh I'm getting the same "Contribution ERROR: Source location must be an object" for the following components:

•	git/github/antaris/razorengine/4399028120f3c570fc8049fba9c055ac9be81468
•	git/github/automattic/cli-table/e35ccee7341e8574839df751a8aa10acd5a82a5b
•	git/github/azure/azure-docker-extension/0dd2f199467db78e91d28c30d8595d1bcaf776de
•	git/github/azure/azure-docker

[2019-07-24 23:38] AE49 opened #790 "Contribution ERROR: Source location must be an object"
@fossygirl @ignacionr @geneh I am opening a new issue. I'm getting the same "Contribution ERROR: Source location must be an object" as #779 for the following components:

•	git/github/antaris/razorengine/4399028120f3c570fc8049fba9c055ac9be81468
•	git/github/automattic/cli-table/e35ccee7341e8574839df751a8aa10acd5a82a5b
•	git/github/azure/azure-docker-extension/0dd2f199467db78e91d28c30d8595d1bcaf776

[2019-07-25 01:51] ignacionr commented on #790
Ok can you share steps to reproduce for only the first one? Or confirm:
- open definition details
- change a field value (which one please?)
- hit the “contribute” button
- log in?
- type description etc
- hit the “commit” button

Expected result: curation PR is created in GitHub.

Actual result: the dialog stays open and a message notification saying “ERROR: location must be an object” appears.

[2019-07-25 07:55] AE49 commented on #790
@ignacionr what do you mean by log in? I'm logged into my account before I start these steps :

- open definition details
- add license expression such as Apache 2.0, then Ok
- add description of curation -  type: selecting "Incomplete", fill in title, details, resolutions then Ok

Message I see on the screen -

"Started Contribution"
"Contribution ERROR: Source location must be an object

[2019-07-25 08:14] ignacionr commented on #790
That helps. Thank you.

On Jul 25, 2019, at 2:55 PM, Angela Earnshaw <notifications@github.com<mailto:notifications@github.com>> wrote:

@ignacionr<https://github.com/ignacionr> what do you mean by log in? I'm logged into my account before I start these steps :

  *   open definition details
  *   add license expression such as Apache 2.0, then Ok
  *   add description of curation - type: selectin

[2019-07-25 13:40] ignacionr commented on #790
Dear @AE49 sorry I tried and was able to normally create a curation. All I can offer is to share a screen session so we can together try to figure out what maybe happening.
Let me know if that is possible. Thanks.

[2019-07-25 14:33] ignacionr opened #791 "Present additional information for curation errors"
Once https://github.com/clearlydefined/service/issues/584 is resolved, there will be a new (optional) data point on the errors returned at curation creation. Find means to allow the user to view it.

[2019-07-25 15:39] ignacionr opened #792 "Closing the source location editor with OK adds a bogus entry in the curation"
#### Steps to reproduce:
1. Open a definition
1. Click on the source location so that the source location editor opens as a popup (many curators do that so they can use the anchor)
1. Click OK
1. Make changes to the definition
1. Try to submit the changes

#### Expected result:
- Curation created

#### Actual result:
- Error: source location needs to be an object.

[2019-07-26 21:16] ariel11 commented on #346
This is still happening -
![image](https://user-images.githubusercontent.com/17935946/61981921-f66d3300-afaf-11e9-9bf5-5dee2194d3dc.png)

[2019-07-26 21:17] fossygirl commented on #346
This is being tracked on https://github.com/clearlydefined/website/issues/792.

[2019-07-29 13:51] storrisi commented on #742
@bduranc what do you think about the proposal by @geneh ?

[2019-07-29 16:22] iamwillbar commented on #742
Earlier in the year I put forward a proposal to @jeffmcaffer and it's relevant to this discussion so duplicating it here for your consideration:

I think it can be done relatively easy using a cache similar to what we had in GHCrawler. Here’s how I would envisage it working:

When a coordinate is queued for crawling a record is added to a cache with the coordinates and an array that will be used t

[2019-07-29 17:18] #791 closed

[2019-07-29 20:20] #792 closed

[2019-08-02 00:40] bduranc commented on #742
Sorry for the delay in response.

I think this is pretty close. I like the idea of the tooltip explaining the total number of expected tools queued. I suspect this would be expected tools available at current, and not at the specific time of harvest. I.e. say I harvest a component on August 30th and it finishes that same day. Then if we put in a new tool August 31st, would that new tool would be v

[2019-08-08 09:53] pombredanne opened #799 "Copied text is truncated in RAW data"
There is a bug there on Firefox... you cannot copy text from the raw data there correctly (it gets truncated with ... ellipsis as soon as it is more than a few lines)

This is the version of the text editor used in ClearlyDefined: https://clearlydefined.io/vs/editor/editor.main.js

[code]

this is rather old since the latest is 0.17.1

I also filed a bug upstream.

[2019-08-08 09:54] pombredanne commented on #799
See https://github.com/microsoft/monaco-editor/issues/1540

[2019-08-12 15:12] pombredanne commented on #787
@bduranc sorry for not providing feedback earlier. It all makes sense to surface the data especially since it is available in the scans. I am not sure a special disclaimer is needed.

Now what would be especially useful is to provide the ability to link to the corresponding definition either the exact version if that's what is available with the dependency or a browse page listing all the version

[2019-08-12 16:00] storrisi commented on #95
I'm closing this for now, we can track some other implementations in specific issues.

[2019-08-12 16:00] #95 closed

[2019-08-12 17:04] storrisi commented on #787
We should understand what this requirement really means. Maybe involving @geneh or @ignacionr into this discussion would help.

I love this idea rather adding a new separate section in the UI

[2019-08-12 17:05] storrisi commented on #799
@pombredanne should we do something in the UI or just wait for a fix?

[2019-08-12 17:07] #687 closed

[2019-08-12 17:10] storrisi commented on #600
@pombredanne I'm likely to close this since we've introduced a tooltip over the logo of each component, that looks to meet your requirement. Do you have thoughts on this?

[2019-08-12 17:12] storrisi commented on #535
I'm going to close this for now since looks that the problem didn't happen again. We can even open it again with some supporting information about how to reproduce it.

[2019-08-12 17:12] #535 closed

[2019-08-12 17:15] storrisi commented on #158
@fossygirl may I ask you an update on this? Do we still need this implementation considering the current state of things?

[2019-08-12 18:00] bduranc commented on #787
@pombredanne:

Sorry, after reading this last part, now I'm a bit confused.

Are you proposing we link to the CD definition for a specific version of a dependency? i.e. I have _dependency _X__ of CD _component _Y__. Let me see _dependency X_ 's own definition if it exists in CD, _otherwise we harvest it._

This is how I understood it on our call. Please let me know if this is not correct :)

[2019-08-13 14:03] storrisi commented on #754
@geneh do you think that the service could in someway return these details to the UI, even with a separate API?

[2019-08-13 18:08] #740 closed

[2019-08-13 22:35] bduranc opened #800 "Harvest page drop-down menus do not work well with "common" user/org names"
**Issue Type:** Bug
Issue Description:

The following component is unable to be harvested via the [ClearlyDefined.io/harvest](https://clearlydefined.io/harvest) page.

**http://github.com/erica/iOS-7-Cookbook**

Selections made on "[ClearlyDefined.io/harvest](https://clearlydefined.io/harvest)"...

_Repo:_ **GitHub**

_User/Organization:_ **erica**

_Pick a tag or commit hash:_ **Can't even get to

[2019-08-14 07:47] storrisi commented on #800
Looks like the problem was related to the size of the origins API, that returned just the first 30 items found.
I've increased the size of the answer on the service side.
Thanks for catching it.

[2019-08-14 19:41] geneh commented on #754
@storrisi Possibly, it's worth exploring.

[2019-08-15 15:57] sschuberth opened #801 "Allow to set the source location to an URL pointing to an archive"
Currently, setting the source location triggers a wizard to browse for a GitHub repository. While a VCS location certainly is to be preferred, some sources are only available as source artifacts. Please support setting those as the source location.

[2019-08-16 13:24] storrisi commented on #742
@bduranc just to summarize, can we consider to implement this kind of statuses that you mentioned?

[code]

[2019-08-16 15:38] #602 closed

[2019-08-16 16:03] #673 closed

[2019-08-16 16:43] bduranc commented on #742
Sounds good to me.
Also, where I say "including 'clearlydefined' tool?" I think this should be a "yes". When we count tools, we should also include "clearlydefined" as a measured tool since it does show up in the list.

My understanding is this "clearlydefined" entry in the tools list just represents the metadata that CD itself has been pulled from the source repository (name, version, release dat

[2019-08-18 07:36] pombredanne commented on #787
@bduranc re

Exactly :+1:
We would have a dependency data section for each definition and in that section we should have one of these links for each dep:

- if the version of a dep is known, we should have a link to that exact definition on CD. If it is not in CD yet, it should be queue for addition/harvest, preferably automatically (no button needed)

- if the version of a dep is not known (vario

[2019-08-19 13:33] sschuberth opened #804 "HTTP error 403 when downloading Swagger schema"
I'm trying to download https://api.clearlydefined.io/schemas/swagger.yaml via Kotlin code as [part of a build process](https://github.com/heremaps/oss-review-toolkit/blob/55c729a43882168eb010c3cc329b53a75e0108ae/clearly-defined/build.gradle.kts#L13). Interestingly, this gives:

[code]

From the same machine, a download via `curl` or `wget` works, so it does not seem to be a network issue on my sid

[2019-08-19 13:44] sschuberth commented on #804
FYI, using https://github.com/clearlydefined/service/raw/master/schemas/swagger.yaml in the same code just works.

[2019-08-19 15:35] sschuberth opened #805 "Swagger schema does not validate with OpenAPI tools"
I'm new to Swagger / OpenAPI, so please bear with me if I'm doing something wrong, but for me using the [OpenAPI Generator Gradle Plugin](https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator-gradle-plugin#readme), the `openApiGenerate` task throws a bunch of validation errors like:

[code]

[2019-08-20 14:54] storrisi commented on #801
@fossygirl @geneh what do you think about this suggestion?

[2019-08-20 16:09] fossygirl commented on #801
@storrisi Let's please bring all of these questions to the biweekly meeting so everyone in the community can weigh in.

[2019-08-20 19:03] sschuberth commented on #801
Just to be clear, as I read the specs, [sourceLocation](https://github.com/clearlydefined/service/blob/0080c408b9f61fbd1975817c5b8ab8a9bdb3fd68/schemas/curation-1.0.json#L109) can already be a [sourcearchive](https://github.com/clearlydefined/service/blob/0080c408b9f61fbd1975817c5b8ab8a9bdb3fd68/schemas/curation-1.0.json#L25), so this is not a new spec feature I'm asking for, but just to expose it

[2019-08-21 23:27] geneh opened #807 "Add PHP support for packagist"
This is related to https://github.com/clearlydefined/crawler/pull/332, https://github.com/clearlydefined/crawler/pull/332, https://github.com/clearlydefined/service/pull/601/.

Sample clearlydefined JSON blob produced by the crawler for reference:
[1.2.0.json.zip](https://github.com/clearlydefined/website/files/3527702/1.2.0.json.zip)

Sample coordinates: cd:/composer/packagist/symfony/polyfill-mb

[2019-08-21 23:30] geneh commented on #807
@storrisi Could you please implement this one?
@Fredrick-Tam FYI

[2019-08-22 21:56] geneh commented on #807
The new data works! https://dev-api.clearlydefined.io/definitions?type=composer

[2019-08-23 23:01] bduranc opened #808 "Declared license field self-changing to NOASSERTION when changing a file-level license"
**Issue Type:** Bug
**Issue Description:**

I was attempting to update a file's discovered license on a definition using the SPDX expression editor. But when I did that, it also changed the definition's "_Declared License_" field to "NOASSERTION".

The _Declared License_ on this definition was set by me through a previous curation: https://github.com/clearlydefined/curated-data/pull/2063/commits/b

[2019-08-26 13:14] storrisi commented on #808
Thanks for the clear explanation @bduranc .
BTW i'm moving this to the service repo, since that behavior is the result of the preview API that is called after each change during the curation activity.

[2019-08-26 16:10] storrisi commented on #742
@jeffmcaffer I'm going to answer just to the questions where I'm actually able to contribute:

It won't change the result since the method is just considering the tools that have run on the definition, and not the expected ones.
For example:
- If a definition is currently returning only 1 tool, we are considering it as "Partially Harvested", so the addition of a new expected tool to run won't chan

[2019-08-26 19:12] fossygirl opened #810 "Loading components from long URL fails"
Why doesn't this URL create a list of components in ClearlyDefined?

https://clearlydefined.io/share/eJyd0sFOhDAQBuB3mTOZwOKq4cauRo0xMZK4B+OhwLA7sbSkLayE8O4WDyasJzi2f+Zr/rYDVCwdGUiGMQCrjdv1kIASNUEAhdamZCUcWUg+BnB9Q1PaHsn5uDG643Ia/tv6HUwgPWTZ3TPutZkYQx1b1soHMca4iTGCMVjA7W33SLLx0Qy7xgjDZdKDaQpMW3eaSxHerJL+F5ykhe1euDDa6sp5rqRUCdlbtrhjlX1xfclf4XYtf//tSE2Q9Sepio+tEc4v8Unx/JgNhutbvOozmexEUuIW36giQ6qg1Fq

[2019-08-26 21:06] storrisi commented on #810
@fossygirl are you able to share here the same list using one of the other methods, in order to check what happens when the URL is being generated? Thanks!

[2019-08-26 21:22] #810 closed, assigned to storrisi

[2019-08-26 22:08] jeffmcaffer opened #811 "detail page top, bottom and right padding"
On the details page the padding on left of the details page is reasonably generous but the top, bottom and right are quite close to the edges. Suggest adding padding to these three sides .

Note as well that the Download component button is hanging way out to the right.

[2019-08-26 22:15] jeffmcaffer opened #812 "details page component name/version layout"
The layout of the "title" of the details page is quite jumbled.

![Screen Shot 2019-08-26 at 3 08 59 PM](https://user-images.githubusercontent.com/10070956/63726922-856da500-c813-11e9-96f6-9230e581bbef.png)

Suggestions:

* The type, name and version of the component should be quite prominent.
* the score and harvested tags should be secondary
* Would be great to have the type logo should also be

[2019-08-26 22:17] jeffmcaffer opened #813 "details page file list has scroll bars all the time"
In the component detail page the file list always has horizontal and vertical scroll bar areas even when no scroll bar is needed/possible

* the horizontal scroll bar appears to never be needed
* the vertical one should show up only when/if needed/possible

[2019-08-26 22:20] jeffmcaffer opened #814 "file list search icon too far right"
in the component details file list the search magnifying glass is right justified in the column making it look like it is associated with the next heading. That is, the Name search icon is directly beside the Facets heading and far away from the Name heading.

![Screen Shot 2019-08-26 at 3 19 25 PM](https://user-images.githubusercontent.com/10070956/63727370-f497c900-c814-11e9-9ddf-0bd086bafc30.pn

[2019-08-26 22:22] jeffmcaffer opened #815 "Space around the top of details popup too small"
The space at the top of the component details popup

![Screen Shot 2019-08-26 at 3 08 59 PM](https://user-images.githubusercontent.com/10070956/63727427-201ab380-c815-11e9-815a-8f6326d2fbd9.png)

is much smaller than the space at the bottom.

![Screen Shot 2019-08-26 at 3 20 57 PM](https://user-images.githubusercontent.com/10070956/63727430-227d0d80-c815-11e9-9ff8-abcfa069e305.png)

Suggest making

[2019-08-26 22:39] geneh opened #816 "Broken UI for non-existent definitions"
The following definitions does not exist in ClearlyDefined:
https://clearlydefined.io/definitions/maven/mavencentral/-/androidx.lifecycle/lifecycle-viewmodel-ktx/2.1.0-rc01
The page is attempted to be loaded with loading animation but then it becomes blank.
[code]

[2019-08-27 13:55] storrisi commented on #816
This has already been fixed in https://github.com/clearlydefined/website/pull/809/commits/fab90b94c061a2864c839e689dcacc5ed6f0609f

[2019-08-27 13:55] #816 closed

[2019-08-28 16:08] storrisi commented on #812
@jeffmcaffer thanks for your suggestions.

The only point that is not completely clear for me is:

Are you suggesting to convert the entries in the ... list to buttons?

[2019-08-29 16:17] #811 closed

[2019-08-29 16:17] #813 closed

[2019-08-29 16:17] #814 closed

[2019-08-29 16:17] #815 closed

[2019-09-06 22:36] #767 closed

[2019-09-09 21:43] fossygirl opened #822 "Declared license scrolls off and runs into other text"
Please see screenshot. The text of the Declared license shouldn't run into other text like this.

![Screen Shot 2019-09-09 at 2 42 10 PM](https://user-images.githubusercontent.com/17101092/64568687-372acc80-d310-11e9-8e04-9e27dca55b51.png)

[2019-09-10 13:35] ignacionr opened #823 "Add a matchCasing=false parameter when calling the /definitions endpoint"
As explained on https://github.com/clearlydefined/service/issues/589#issuecomment-529936105 and because of what we found as #604 , we need the Website to keep using a non-post-processed response.
Please add a query string parameter ```matchCasing=false```, on requests to the /definitions endpoint which end up composing curations. Alternatively, just replace on all usages of that endpoint.

[2019-09-10 13:36] ignacionr commented on #823
NB: This issue needs to be deployed on production before the corresponding Service change which will resolve https://github.com/clearlydefined/service/issues/589 (but adding the optional parameter).

[2019-09-10 15:44] peggymoloney opened #825 "Curation Failed"
Trying to curate the last four from the following but it says "Curation Failed"  The first two worked without a problem.

https://clearlydefined.io/share/eJxVkL1PwzAQxRmYMnbsysBC/X1ne0Co6tCJD4m/wD47aVGIIycZ+O8JVEJleO+Wdz/dvc3tED7z9r65G5Yuz/ziO34spesze6tlLnFpuWaey

[2019-09-10 15:44] peggymoloney opened #826 "Curation Failed"
Trying to curate the last four from the following but it says "Curation Failed"  The first two worked without a problem.

https://clearlydefined.io/share/eJxVkL1PwzAQxRmYMnbsysBC/X1ne0Co6tCJD4m/wD47aVGIIycZ+O8JVEJleO+Wdz/dvc3tED7z9r65G5Yuz/ziO34spesze6tlLnFpuWaey

[2019-09-10 17:35] #823 closed

[2019-09-10 21:04] ignacionr commented on #826
Good stuff. On it!

[2019-09-10 21:08] storrisi commented on #826
@ariel11 can you confirm that when you are trying to curate a selection from the list, once the dialog of the Curations shows up, you'll see an empty list under "Involved Components"?

[2019-09-11 16:19] #826 closed

[2019-09-26 16:13] geneh opened #828 "Debian icons missing when searching for packages"
When navigating to https://clearlydefined.io and searching for packages, both Deb and Debian Sources results show up without an icon:
![Screen Shot 2019-09-26 at 9 09 54 AM](https://user-images.githubusercontent.com/1537662/65705684-cd176480-e03d-11e9-938e-8ee08ef3879c.png)

[2019-09-27 15:46] #828 closed

[2019-10-01 15:52] #742 closed

[2019-10-04 15:21] storrisi opened #831 "Update draggable maven URLs"
Referencing @bduranc comment on https://github.com/clearlydefined/service/issues/588#issuecomment-516628660_

Interestingly, I notice that the only "drag and drop" URL for Maven that appears to be supported by CD Workspace is from this mvnrepository.com search engine website.

The below picture shows my attempt at drag-and-drop of full URLs to the CD Workspace:

https://repo1.maven.org/maven2/jaka

[2019-10-04 19:03] #831 closed

[2019-10-11 18:13] capfei opened #833 "Some harvested pypi components not showing up in search"
Example:
Pypi - Protobuf 3.9.0
https://clearlydefined.io/definitions/pypi/pypi/-/protobuf/3.9.0

Pypi not showing up in search results
![image](https://user-images.githubusercontent.com/5489711/66674345-8ae24b80-ec17-11e9-983c-43ab5a3f89f9.png)

Another example is Numpy (pypi). Versions 1.16.4, 1.17.1, and 1.17.2. These versions show up as harvested but do not show up in the workspace search.

![i

[2019-10-11 18:24] fossygirl commented on #833
@storrisi Can you look into this, please?

[2019-10-15 02:37] jeffmcaffer commented on #774
I updated the title accordingly

[2019-10-15 02:44] jeffmcaffer opened #834 "clarify /stats entries for NOASSERTION and other"
on /stats we show license counts for values of NOASSERTION and Other but do not show `None` or simply missing. My *suspicion* is that `Other` is including cases where there is no license. Also, I suspect that the vast majority of the `Other` count is actually cases where there is no license. The reasoning being that if (given current numbers) 0.24% of licenses are AGPL, then it is extremely unlike

[2019-10-15 02:56] jeffmcaffer opened #835 "/stats shows median described score as 100%"
Seems entirely unlikely that the median of all described scores is 100% Would be awesome but worth confirming. This might be a case where median is not actually the greatest if all others under P50 are say 0. In any event, probably worth a quick look to validate that the number is legit

[2019-10-15 16:09] geneh opened #836 "Debian numbers are off on the stats page"
https://clearlydefined.io/stats
Debian total count is 0 which is incorrect.
The search type is currently **debian** which is incorrect. It should be **deb** for Debian packages and **debsrc** for Debian sources.
Please correct and also add stats for Debian sources.

[2019-10-21 14:51] storrisi commented on #836
Everything looks fine now, maybe it was a temporary problem?

[2019-10-21 16:07] geneh commented on #836
@storrisi Could you please fix this one?

[2019-10-22 07:03] storrisi commented on #836
Yes, I'm currently working at it

[2019-10-22 21:56] cruzerika opened #837 "Component File Hierarchy Discrepancy between CD Definition and Github Project"
We discovered that the CD definition for the component Glib does not have the same file hierarchy as the project in Github. There are missing files on the CD definition.
 
Link to the CD definition: https://clearlydefined.io/definitions/git/github/gnome/glib/99befa31f8f8d02260728a1547832cba37b807e1
Link to the github project: https://github.com/GNOME/glib/tree/99befa31f8f8d02260728a1547832cba37b80

[2019-10-23 10:01] storrisi commented on #834
@geneh which kind of request should i make to the service to get these details?

[2019-10-23 17:28] #836 closed

[2019-10-23 17:37] #822 closed

[2019-10-23 18:28] geneh commented on #834
The logic is here: https://github.com/clearlydefined/service/blob/master/business/statsService.js
Moving this issue to the service.

[2019-10-24 16:28] bduranc commented on #787
Hi @pombredanne :

Sorry for the delayed response.

This sounds fine to me and a great opportunity to grow the CD ecosystem using existing data. But again, I think the focus should first be developing the core functionality proposed in this request as I see that as a pre-requisite to any such downstream effort. If this addition can be included in the scope, then even better!

The critical aspect I

[2019-10-26 07:14] Bananeweizen opened #840 "Maven header image is not transparent"
The maven header image is not transparent (while all others are).
![grafik](https://user-images.githubusercontent.com/406876/67615791-e9d7c100-f7d0-11e9-8f79-1728f5d51f2b.png)

[2019-10-28 08:33] storrisi commented on #840
Is there an official set of icons that we can use?

[2019-10-28 08:50] storrisi commented on #799
@pombredanne did you received any updates? I've checked the issue you opened but I don't see any answer

[2019-10-28 08:58] storrisi commented on #600
Closing this for now since we have tooltips that explain which is the related type for each component.
Feel free to open it again if needed.

[2019-10-28 08:58] #600 closed

[2019-10-28 16:54] #840 closed

[2019-10-28 20:07] geneh opened #842 "Upgrade dependencies with security vulnerabilities"
Ideally all `npm outdated` dependencies and at the very least all vulnerable components (`npm audit`) should be upgraded.

[2019-10-31 17:06] sharonlcorbett opened #844 "OAuth Authentication Personal User Data Settings now Full Access instead of Read-Only?"
I've recently been requested to agree to change Personal user data from read only access to write (see attachment).  Has the OAuth settings changed in the last month or so?

I tested with a new account creation and it is requesting write access as well.  However, a colleague of mine remains at the read-only level.

The write access seems completely over reaching.

Can this setting be changed?

Reg

[2019-10-31 17:46] jeffmendoza commented on #799
Let's just track here, and not make any changes to ClearlyDefined's website.

[2019-10-31 17:47] storrisi commented on #799
@jeffmendoza agreed. Thanks!

[2019-10-31 20:45] geneh commented on #842
Reopening since the PR had to be reverted.

[2019-11-01 16:00] pombredanne commented on #799
@jeffmendoza @storrisi this is tracked in this https://github.com/microsoft/monaco-editor/issues/1540 whcih unfortunately received little or no love for now. Let me see if I can tag a dev based on a blame.

[2019-11-02 03:48] ignacionr commented on #844
The permission token request was updated some time ago with the goal of enabling the users email to be known, so that Commits (and not only PRs) were correctly attributed.

That said, there should be no need for any write-level access.

[2019-11-11 17:46] geneh opened #848 "Some definitions show up as curated even though they are not"
The following definitions show up as curated with undeclared license even though these specific versions aren't curated. Is there a problem with Curated badge?
https://clearlydefined.io/definitions/nuget/nuget/-/System.Net.Http.WinHttpHandler/4.5.0
https://clearlydefined.io/definitions/nuget/nuget/-/Bond.Runtime.CSharp/8.0.0

https://github.com/clearlydefined/curated-data/blob/master/curations/nug

[2019-11-11 21:27] storrisi commented on #848
The Curated badge is shown if the definition has at least one merged contribution.
In these cases, I see multiple merged contributions so it looks to be fine from my point of view.
Maybe the condition should check for something else?

[2019-11-11 22:00] geneh commented on #848
At this point a specific version must be matched for a curation to be applied. In the future this logic may change if and when it is decided to use apply curations from other versions.
It should be checked whether the version matches in the curations list. For example see curations array in
https://api.clearlydefined.io/curations/nuget/nuget/-/System.Net.Http.WinHttpHandler/4.5.0?expand=prs

[2019-11-12 13:40] storrisi commented on #848
I'm wondering why that endpoint is returning contributions from other versions since the needed version has been specified in the request.

Thoughts?

[2019-11-12 13:57] storrisi commented on #848
I made some tests over the API results:

If I call https://api.clearlydefined.io/curations/nuget/nuget/-/System.Net.Http.WinHttpHandler/?expand=prs (just removing the version from the request) I get the same results that I get by specifying the version.

If I call https://api.clearlydefined.io/curations/nuget/nuget/-/System.Net.Http.WinHttpHandler I get the same results, again.

But if I call http

[2019-11-12 17:25] geneh commented on #848
4.5.0 version is present for other components, not this one. Does it make sense?
![Screen Shot 2019-11-12 at 9 24 37 AM](https://user-images.githubusercontent.com/1537662/68694578-460b4680-052e-11ea-81d3-bdc8f00fc361.png)

[2019-11-12 17:27] storrisi commented on #848
Sorry, I missed it.
I still don't get why the endpoint  https://api.clearlydefined.io/curations/nuget/nuget/-/System.Net.Http.WinHttpHandler/4.5.0?expand=prs returns a list of all the curations from different versions if a specific version has been requested.

[2019-11-12 17:31] geneh commented on #848
Any clues from the code? @ignacionr Do you know if that's expected?

[2019-11-13 19:00] #842 closed

[2019-11-14 17:00] geneh opened #850 "Address dependencies deprecation warnings"
Deprecation warnings should be addressed.
Run `npm test`.
[code]

[2019-11-14 17:06] storrisi commented on #850
This could be tricky, we have to change a lot of methods by using new `getDerivedStateFromProps` instead of `componentWillReceiveProps` and all the other recent methods introduced by React >16.3

[2019-11-14 17:19] geneh commented on #850
It will have to be eventually done anyway, won't it?

[2019-11-14 17:24] storrisi commented on #850
If the React version needs to be updated for some reason, then the answer is yes.
But since the recent versions contain some breaking changes, I suggest being very careful with that.

[2019-11-14 21:11] geneh commented on #812
@storrisi Let's ignore the unclear point for now. Given the relatively recent UI changes, is there anything to be done here?

[2019-11-14 21:16] storrisi commented on #812
@geneh anything else here has already been addressed

[2019-11-14 21:18] geneh commented on #812
Great, thanks! Let's close this one for now. @jeffmcaffer can reopen if needed.

[2019-11-14 21:18] #812 closed

[2019-11-18 09:07] storrisi commented on #848
@geneh I think that the best option, for now, is to add a revision param into the contributions objects, in order to allow the client to filter the values.

[2019-11-18 10:16] storrisi commented on #848
I've tried to come up with a solution to the client, but I think that the best solution is to filter the results with contents that are related to the requested version.

Otherwise, the second option is to search into all the Prs retrieved, and match the same coordinates / revision.

Thoughts?

[2019-11-18 18:30] #848 closed

[2019-11-20 20:43] #774 closed

[2019-11-22 18:08] geneh commented on #850
The depreciation warnings are going to be handled during the next React upgrade. Closing.

[2019-11-25 17:52] tmarble commented on #850
Reopening to address the following compiltion warnings
(found when running `npm run start:dev-api`):

[code]

[2019-11-25 18:33] #850 closed

[2019-11-25 21:46] tmarble commented on #639
@storrisi I have found this [background](https://github.com/harrysolovay/rescripts#background) to be useful in understanding the issues in CRA configuration and "ejecting".

This is one of the [alternatives](https://github.com/timarney/react-app-rewired#alternatives) listed for react-app-rewired. Another one which looks promising is [craco](https://github.com/gsoft-inc/craco#craco). Both of these

[2019-11-26 20:54] bduranc opened #855 "Copyright attribution fields auto highlighting and showing in PR when there was no intent to curate them"
**Issue Type:** Bug (possible)
**Issue Description:**

I've encountered a possible UI bug where one file-level copyright attribution was highlighted even though I did not actually update it.

It happened to me when I was curating the file-level licenses on following component:

https://clearlydefined.io/definitions/git/github/agershun/alasql/dc00c4dbf0346b78b56064f591e68b1834bbfa87

I went to cura

[2019-11-26 21:42] storrisi commented on #855
Thanks @bduranc . All the changes that you see on the UI are coming from the backend.
Every time you change something, a preview API is called to retrieve how the changes would affect the component.
At that stage the UI is simply showing what the service has computed.
Maybe we should move this issue to the service repo.
What do you think @geneh ?

[2019-11-26 21:45] bduranc commented on #855
@storrisi Thanks for the detailed info.
Sure, I have no objection if that's where it's better suited to go :)

[2019-11-26 21:49] geneh commented on #855
Moved to the service. Thanks!

[2019-11-26 21:52] tmarble commented on #639
Document our discussion on Discord today I plan to investigate https://www.npmjs.com/package/@monaco-editor/react

[2019-12-02 18:14] #639 closed

[2019-12-03 23:45] tmarble commented on #801
@sschuberth with the knowledge that **sourceLocation** must point to an exact commit level of detail can you clarify what "source artifacts" actually means? I suppose, for example, it could point to a tarball? Can you elaborate?

I've included a screen shot of the current prompt which shows:
**GitHub**  [ user / organization ] [ repo ]
![serviceLocation](https://user-images.githubusercontent.com/1

[2019-12-04 09:14] sschuberth commented on #801
Indeed, `sourceLocation` should be able to point to any type of archive like

- a tarball at the NPM registry (e.g. NPM package sources like https://registry.npmjs.org/mime-types/-/mime-types-2.1.25.tgz)
- a jar at Maven Central (e.g. Java sources like https://repo1.maven.org/maven2/com/vdurmont/semver4j/3.1.0/semver4j-3.1.0-sources.jar)
- a zip at any custom location (e.g. custom source archives

[2019-12-04 15:51] tmarble commented on #801
Thank you @sschuberth for your comments!

Based on your examples I propose that the **type/provider** be chosen for your examples (respectively):
* **sourcearchive/npmjs**
* **sourcearchive/mavencentral**
* **sourcearchive/archive** <- as you point out "archive" as a provider is new

My initial thought about the UI is there should be a combo box or some choice for type.
Then, based on the type cho

[2019-12-04 17:01] geneh commented on #801
@tmarble This is a lower priority issue. Let's please bring all of these questions to the biweekly meeting so everyone in the community can weigh in.

[2019-12-09 19:40] geneh opened #858 "Unslected tab stays visually highlighted"
Go to https://clearlydefined.io
Click on Workspace or Harvest or About tab
Click on Stats tab
The previously selected tab stays highlighted
![Screen Shot 2019-12-09 at 11 39 34 AM](https://user-images.githubusercontent.com/1537662/70466705-9962ad00-1a78-11ea-97d6-3a71de924c67.png)

[2019-12-11 17:02] geneh commented on #858
Resolved by https://github.com/clearlydefined/website/pull/859

[2019-12-11 17:02] #858 closed

[2019-12-19 06:36] pombredanne opened #861 "Cannot curate source URL"
https://clearlydefined.io/definitions/sourcearchive/mavencentral/zone.src.sheaf/logback-sheaf/1.2.2 source is a Git repo at https://bitbucket.org/src-zone/logback-sheaf/
I cannot enter that in the UI ATM

[2019-12-19 06:39] pombredanne commented on #799
This happens to be a local setting in my FF after all. The Monaco editor requires some extensive read/write clipboard access to be enabled in the web browse which is a potential security risk tat is disabled in my setup, hence the issue

[2019-12-19 06:39] #799 closed

[2020-01-08 01:24] ariel11 opened #862 "No UI for WITH (and no valid SPDX for “GPL-2.0-only-WITH-Classpath-exception-2.0”)"
Currently, the curation UI only has AND / OR buttons.  There are about two dozen "exceptions" you would add using "WITH," as specified by the SPDX formatting guidelines - see list here: https://spdx.org/licenses/exceptions-index.html.  I think we need to add a "WITH" button to the curation UI.

Additionally, right now the drop-down menu has  “GPL-2.0-with-classpath-exception,” which is not in SPDX

[2020-01-20 16:41] pombredanne commented on #787
I am making this a Google Summer of Code idea

[2020-01-28 22:00] bduranc opened #864 ""Download component" button appears to cause trouble for Maven definitions; Update Maven URLs"
Issue Type: Bug
Issue Severity: **Low**
Issue Description:

The blue "Download component" button that appears on the right-hand side of the _Files_ pane does not appear to point to a valid place on Maven anymore.

When you click on the button, a) it will ask you to use HTTPS (501).

![image](https://user-images.githubusercontent.com/31491646/73308933-22bf7180-41d6-11ea-9c46-6c5ee0b5b3e8.png)

b) o

[2020-02-14 00:31] bduranc commented on #801
Hi,
@tmarble or @geneh : Were these questions ever answered on a call by any chance? I have the same questions as Tom and cannot seem to find them documented where I'd expect to see them (CD Docs, minutes, etc.).

Two questions I have that might be similar to what was being asked previously here...

If the above picture is accurate, then I'm also curious **what happens if one of the jar's don't ex

[2020-02-21 14:45] carmenbianca opened #865 "Hitting 'enter' should in the search box should commence the search"
When you type a component name in <https://clearlydefined.io/>, you get some suggestions that have matching names. For instance, type "pandoc", and you get:

- pandoc-pandocker-filters
- pandoc
- jekyll-pandoc
- pandoc-numbering
- etc...

However, if the thing I'm looking for is not in that list, I have a problem. If I hit "enter", nothing happens. The expected behaviour is that it starts a search

[2020-02-21 14:53] carmenbianca opened #866 "When searching, exact matches should be suggested first"
When you type in the search bar, you get a list of suggestions as you type. However, exact matches are sometimes drowned out by non-exact matches. Borrowing the example from #865:

When type "pandoc", and you get:

- pandoc-pandocker-filters
- pandoc
- jekyll-pandoc
- pandoc-numbering
- etc...

Pandoc only points to crates.io, however. If I want the PyPI package of the same name, it does not show

[2020-02-21 14:58] carmenbianca commented on #272
I would like to bump this issue. This would be immensely useful.

[2020-02-21 15:00] carmenbianca opened #867 "Add a button that can schedule a harvest"
Sometimes, a package I am looking for had not already been harvested by ClearlyDefined. I can manually send a harvesting request via the API, but it would be nice if this were included in the UI instead.

[2020-03-05 19:45] clearlyoss opened #871 "Increase size of text box on issue submission"
When submitting PR's the text field for the Details and Resolution box are too small and will truncate the text that is being submitted.

I'd request that the field size is increased to allow for detailed text when submitting license updates.

Here is a sample text updated I did that was truncated for node:

File with a section of code prefaced by the following notice:

   * This implementation of

[2020-03-10 23:57] ariel11 opened #873 "Add link to curation guidelines on https://clearlydefined.io/"
Right now, from https://clearlydefined.io/, I am not easily seeing how someone would find the curation guidelines (https://github.com/clearlydefined/clearlydefined/blob/master/docs/curation-guidelines.md).

Recommend adding a link directly on https://clearlydefined.io/.  If folks did not want to do that, then adding the guidelines more clearly to https://docs.clearlydefined.io/ (and mention it her

[2020-05-04 21:53] jeffmcaffer opened #875 "Curation raw data not showing up in component details"
Consider https://clearlydefined.io/definitions/maven/mavencentral/org.glassfish.jersey.core/jersey-client/2.25.1

It is curated (there is an entry in the Curations list and it has the Curated tag) but clicking on the **Curations** tab in the **Raw data** section at the bottom shows empty data.

[2020-05-04 21:55] jeffmcaffer opened #876 "Curation detail page blank"
Consider https://clearlydefined.io/definitions/maven/mavencentral/org.glassfish.jersey.core/jersey-client/2.25.1

Clicking on the curation entry in the **Curations** list takes you to https://clearlydefined.io/curations/3960 but that is blank. It just says "Fetching..." forever.

![image](https://user-images.githubusercontent.com/10070956/81017430-4fa7a400-8e17-11ea-8695-013dcebd3cf5.png)

[2020-05-04 21:55] jeffmcaffer opened #885 "Curation detail page blank"
Consider https://clearlydefined.io/definitions/maven/mavencentral/org.glassfish.jersey.core/jersey-client/2.25.1

Clicking on the curation entry in the **Curations** list takes you to https://clearlydefined.io/curations/3960 but that is blank. It just says "Fetching..." forever.

![image](https://user-images.githubusercontent.com/10070956/81017430-4fa7a400-8e17-11ea-8695-013dcebd3cf5.png)

[2020-06-09 20:39] sschuberth commented on #801
Yes.

At the example of NPM, there is none.

Like you say, the former is the binary artifact whereas the latter is the sources artifact.

I believe a simple file existence check should suffice.

Correct. Which is why I would want to set **sourcearchive/mavencentral** for [antlr/2.7.7](https://github.com/clearlydefined/curated-data/blob/master/curations/sourcearchive/mavencentral/antlr/antlr.yaml)

[2020-06-19 23:37] ariel11 opened #878 "Need WITH in the curation UI"
Cannot curate WITH expressions  - e.g. "Apache-2.0 WITH LLVM-exception" (or any of the other WITH exceptions - https://spdx.org/licenses/exceptions-index.html).

**Note: License Exceptions**
The SPDX License List includes a list of exceptions. These exceptions grant an exception to a license condition or additional permissions beyond those granted in a license; they are not stand-alone licenses. E

[2020-06-22 18:34] ariel11 commented on #878
Note: https://github.com/clearlydefined/service/issues/694

[2020-08-18 20:48] capfei opened #881 "Feature Request: Default title individual curations"
I would like to request that the `Title` field on the individual curation form to have a default value of the component name and version number/commit ID (abbreviated).

If I go to https://clearlydefined.io/definitions/npm/npmjs/@babel/parser/7.11.2/7.11.2 and make a change, I would to see the title auto-populate like this:

![image](https://user-images.githubusercontent.com/5489711/90562485-1a6d5

[2020-09-04 16:45] bduranc opened #883 "Copyright filter under Files section not working consistently"
Issue Type: Bug
Issue Description:

I've noticed that the search filter for the "Copyrights" column under _Files_ section does not actually appear to do anything.

When searching for either a partial copyright string (e.g. "XYZ") or the full string as it's listed under the _Licensed_ section (e.g. "Copyright (c) 2020 XYZ Inc." and clicking the green "Search" button, the page refreshes but the requ

[2020-09-04 16:46] bduranc commented on #883
Oh, and the Browser I was using when testing this: most recent Google Chrome on a 64-bit Windows system.

[2020-11-02 21:31] ariel11 commented on #864
See also: https://github.com/clearlydefined/service/issues/755,  https://github.com/clearlydefined/service/issues/707

[2020-11-06 23:16] nellshamrell commented on #876
Will be adding notes as I troubleshoot this:

It looks like https://clearlydefined.io/curations/3960 is requesting the PR info from https://api.clearlydefined.io/curations/pr/3960

I tried curling that url, but it looks like it doesn't find any changes associated with the PR to render:

[code]

[2020-11-06 23:26] nellshamrell commented on #876
I'm not seeing that API call in the swagger docs https://api.clearlydefined.io/api-docs/

But I know there are some API calls that are not documented. Digging into the service.

[2020-11-06 23:59] nellshamrell commented on #876
Interestingly, when I run the service locally with the curated-data-dev repo, the API call _does_ work:

[code]

[2020-11-09 16:35] nellshamrell commented on #876
Update:

This API call appears to work fine in the dev environment as well.

[code]

So I suspect there is some sort of configuration issue in the prod environment.

[2020-11-10 01:06] nellshamrell commented on #876
Well, this is interesting.

If I use the prod-api curation repo and GitHub token in my local environment, it is able to retrieve the changes.

[code]

Yet when I use the prod api...

[code]

[2020-11-10 01:21] nellshamrell commented on #876
Hmm...

So it turns out I CAN access changes in some pull requests through the production API:

[code]

I wonder what's different about the curation PRs we can pull changes from and those we can't...

[2020-11-10 01:35] nellshamrell commented on #876
Clicking on the curations entry in the Curations list for https://clearlydefined.io/definitions/nuget/nuget/-/FFmpeg.AutoGen/4.3.1 DOES seem to work, it takes you to https://clearlydefined.io/curations/7991, which shows a curation update.

[2020-11-10 17:53] nellshamrell commented on #876
This is definitely a service issue, rather than a website issue, so I am transferring this issue to the service repo.

[2020-11-16 21:57] nellshamrell commented on #885
Fixed with #887

[2020-11-16 21:57] #885 closed

[2020-12-30 04:10] waynebeaton opened #889 "Can't fix Maven Central source URLs in the UI"
The UI only supports updating to GitHub source URLs.

It would be handy to be able to update to an arbitrary URL.

[2021-01-04 18:19] nellshamrell commented on #878
Closing since this has an open issue on the service

[2021-01-04 18:19] #878 closed

[2021-01-04 18:26] nellshamrell commented on #247
Closing this for now due to age, but if anyone would still like to discuss this, please feel free to re-open it.

[2021-01-04 18:26] #247 closed

[2021-01-05 18:32] nellshamrell commented on #844
Looks like this is still an issue - investigating

![image](https://user-images.githubusercontent.com/813007/103685009-5441d080-4f41-11eb-8951-c0ccae36a225.png)

[2021-01-05 18:50] nellshamrell commented on #864
Confirmed that this is still an issue - and it appears to be on the service side. Closing this since https://github.com/clearlydefined/service/issues/755,  https://github.com/clearlydefined/service/issues/707 are open on the service repo.

[2021-01-05 18:50] #864 closed

[2021-01-05 18:55] nellshamrell commented on #883
Confirmed on https://clearlydefined.io/definitions/npm/npmjs/-/jest-playwright-preset/1.4.3

Repro steps:

Visit https://clearlydefined.io/definitions/npm/npmjs/-/jest-playwright-preset/1.4.3
Under the "Files" heading, click on the magnifying glass next to "Copyrights"
Type in anything (i.e. "MIT")
Click "Search"
You will see that the list of files refreshes to be an empty list

I'm wondering what

[2021-01-29 19:00] nellshamrell commented on #875
Opening up a notes comment here that I will update throughout my investigation.

Using my local environment, I harvested this component, then opened up a curation pull request in [curated-data-dev](https://github.com/clearlydefined/curated-data-dev/pull/1067)

However, it's still now showing up in my local UI when I look at the component's page.